/* ====== Estilos Gerais ====== */
main {
    margin: 115px auto;
    max-width: 1552px;
    padding: 0 20px;
    align-items: center;
}

p {
    line-height: 1.5;
}



/* ====== Fontes ====== */
@font-face {
    font-family: Gilroy-Bold;
    src: url(/assets/font-site/Gilroy-Black/gilroy-bold.ttf);
}


@font-face {
    font-family: Gilroy-Black;
    src: url(/assets/font-site/Gilroy-Black/gilroy-black.ttf);
}


@font-face {
    font-family: Gilroy-Medium;
    src: url(/assets/font-site/Gilroy-Black/Gilroy-Medium.ttf);
}



/* ====== Banner ====== */

/* === Banner === */
.banner-estrutura {
    justify-content: space-between;
    align-items: flex-end;
}

.img-esquerda,
.img-direita {
    display: block;
}

.img-direita {
    width: 342px;
}

.img-esquerda {
    width: 315px;
}

.icone-esquerda {
    width: 342px;
}

.texto-banner {
    height: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    text-align: center;
    margin-bottom: 43px;
}

.texto-banner h1 {
    color: #fff;
    margin-top: 35px;
    padding: 30px;
    font-size: clamp(16px, 4vw, 36px);
}

.texto-banner p {
    color: #fff;
    max-width: 927px;
    font-size: clamp(12px, 2vw, 24px);
}

/* ====== Acesso ao Acervo ====== */
.acesso-acervo-arquip {
    display: flex;
    gap: 72px;
    margin-bottom: 100px;
}

.acesso-acervo_conteudo_principal h2 {
    font-family: Gilroy-Bold;
    font-size: 2.02rem;
    margin-bottom: 20px;
}

.conteudo-acervo_arquip {
    margin-bottom: 56px;
}

.acesso-acervo-arquip p {
    text-align: justify;
}

.texto-acervo_conta {
    font-family: Gilroy-Bold;
    margin-bottom: 1%;
}

.lista-acervo_conta {
    list-style: none;
}

.lista-acervo_conta li::before {
    content: "-";
    margin-right: 10px;
}

.lista-acervo_conta li {
    margin-bottom: 12px;

}


/* ====== Banner Azul ====== */

.ajuste-banner_azul {
    height: 100%;
}

.banner-azul {
    background-image: url("/assets/acesso-acervo/retangulo-acervo.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    height: 270px;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

.banner-azul_solicitar {
    display: flex;
    align-items: center;
}

.banner-azul_solicitar img {
    background-color: black;
    padding: 38px 45px;
    border-radius: 10px;
}

.login {
    display: flex;
    align-items: center;
    width: 49%;
}

button {
    padding: 0;
}

.titulo-quadrado {
    margin-left: 29px;
    max-width: 409px;
    color: #fff;
    font-family: Gilroy-Black;
    font-size: 2.5rem;
}

.texto-login {
    margin-left: 31px;
    color: #fff;
}

.acessar {
    font-family: Gilroy-Bold;
    font-size: 1.50rem;
    margin-bottom: 15px;
}

.orientacoes {
    font-size: 1.4rem;
}

.orientacoes a {
    color: #fff;
}

/* ====== DÚVIDAS/FREQUENTES ====== */

.duvidas-frequentes {
    font-size: 1.3rem;
    font-family: Gilroy-Bold;
    margin-bottom: 35px;
}

.duvidas-frequentes h4 {
    margin-bottom: 24px;
}

.duvidas-frequentes p {
    text-align: justify;
}

.primeira-secao {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.pessoal-trabalhando {
    width: 600px;
}

.duvidas h2 {
    font-family: Gilroy-Bold;
    font-size: 2.02rem;
    margin-bottom: 56px;
}

.duvidas {
    width: 100%;
    max-width: 744px;
}

.duvidas-custos {
    margin-bottom: 75px;
}

.duvidas-requerimento h4 {
    margin-bottom: 2%;
}

.duvidas-primeiros_passos h4 {
    margin-top: 0px;
    margin-bottom: 2%;
}

.duvidas-primeiros_passos {
    margin-bottom: 60px;
}

.duvidas-documentos_solicitados {
    margin-bottom: 60px;
}

.duvidas-documentos_solicitados h4 {
    margin-bottom: 2%;
}

.duvidas-vantagens h4 {
    margin-bottom: 2%;
}

.duvidas-vantagens p,
.duvidas-vantagens ul {
    margin-bottom: 60px;
}

.duvidas-prazo h4 {
    margin-bottom: 2%;
}

.duvidas-prazo p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.duvidas-vantagens ul {
    line-height: 1.5;
}