.texto-banner{
    text-align: center;
    line-height: 1.5;
    color: white;
    & h1{
        font-size: 36px;
        margin-top: -23%;
        text-align: center;
        margin-left: -33%;
    }

    & p {
        font-size: 20px;
        margin-left: -15%;
        width: 99%;
    }
}

.img-fundo{
    position: relative;
    z-index: 0;
    left: -208px;
    top:45px;

}

.img-frente{
    position: relative;
    z-index: 1;
    left: 0px;
    top: 150px;
}

.caixa-fundo{
    position: relative;
    z-index: 2;
    left: -552px;
    top: 121px;
}

.caixa-frente{
    position: relative;
    z-index: 3;
    left: -805px;
    top: 105px;
}

.txt-foto{
    position: relative;
    z-index: 5;
    left: 375px;
    top: 24px;
}

.img-acervo{
    height: 300px;
}

.txt-direita{
    & .titulo-um {
        float: right;
        position: relative;
        top: -280px;
        left: -210px;
}
    & .txt-um {
        float: right;
        position: relative;
        width: 36%;
        top: -200px;
        left: 310px;
    }

    & .titulo-dois{
        float: right;
        position: relative;
        left: 497px;
        top: -30px;
    }

    & .txt-dois{
        float: right;
        position: relative;
        left: 720px;
        top: 50px;
    }

    & .lista-um{
     float: right;
     position: relative;
     left: -90px;
     top: -20px;
     width: 38%;
     display: flex;
     flex-direction: column;
     gap: 18px;
     list-style-type: "-  ";
     font-size: 20px;

    }
}

.retangulo-azul{
     width: 1500px;
     height: 800px;
    & .retangulo-acervo{
        margin-left: 0%;
        margin-top: 9%;
        width: 1500px;
        z-index: 0;
    }

    & .quadrado-acervo{
        z-index: 1;
        position: relative;
        top: -170px;
        left: 50px;
    }

    & .icone-quadrado{
        z-index: 2;
        position: relative;
        top: -194px;
        left: -70px;
    }

    & .titulo-quadrado{
        z-index: 2;
        position: relative;
        top: -320px;
        left: 250px;
        width: 21%;
        color: white;
        line-height: 1.6;
    }

    & .seta-esquerda{
        z-index: 2;
        position: relative;
        top: -425px;
        left: 830px;
    }

    & .seta-direita{
        z-index: 2;
        position: relative;
        top: -425px;
        left: 1350px;
    }

    & .txt-quadrado{
       width: 28%;
       z-index: 2;
       position: relative;
       top: -530px;
       left: 900px;
       color: white;
    }
}

.txt-esquerda{
    float: left;
    text-align: justify;
    margin-bottom: 9%;

    & .txt-menor{
        width: 55%;
    }

     & .img-direita{
        float: right;
    }
}



