/*Mobile*/
nav{
    display: none;
}

.img-esquerda{
    display: none;
}

.img-direita{
    display: none;
}
   
.banner-estrutura{
    visibility: hidden;
}

.texto-banner{
    visibility: visible;
        
    & h1{
        color: black;
        position: relative;
        text-align: center;
    }

    & p{
        color: black;
        margin-left: 10%;
        margin-right: 10%;
        position: relative;
        text-align: center;
    }
}
