.banner-estrutura {
    justify-content: space-between;
    align-items: flex-end;
}


.img-esquerda {
    width: 420px;
    height: 322px;
    margin-bottom: -4px;
}

.img-direita{
    margin-bottom: -4px;
}


.texto-banner {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #ffff;
    text-align: center;
}