/* ====== ESTILOS/GERAIS ====== */

@font-face {
    font-family: Gilroy-Bold;
    src: url(/assets/font-site/Gilroy-Black/gilroy-bold.ttf);
}

@font-face {
    font-family: Gilroy-ExtraBold;
    src: url(/assets/font-site/Gilroy-Black/Gilroy-ExtraBold.otf)
}

@font-face {
    font-family: Gilroy-Medium;
    src: url(/assets/font-site/Gilroy-Black/Gilroy-Medium.ttf);
}

h1 {
    font-family: Gilroy-Bold;
    font-size: clamp(16px, 4vw, 47px);
    color: #fff;
}

.texto-banner p {
    font-size: clamp(12px, 2vw, 24px);
    color: #fff;
}


p {
    font-family: Gilroy-Medium;
    font-size: 1.25rem;
    color: #00072D;
}




/* ====== BANNER ====== */

.banner-estrutura {
    justify-content: space-between;
    align-items: flex-end;
}

.texto-banner {
    height: 89%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    text-align: center;
}