@media (max-width: 1250px) {
     nav{
        display: none;
    }

    .img-esquerda{
        display: none;
    }

    .img-direita{
        display: none;
    }
   
    .banner-estrutura{
        visibility: hidden;
    }

    .texto-banner{
        visibility: visible;
        
        & h1{
            color: black;
            position: relative;
            top: 48px;
        }

        & p{
            color: black;
            position: relative;
            margin-left: 10%;
            margin-right: 10%;
            top: 66px;
        }
    }

    .estrutura-img{
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        overflow: hidden;

            & img{
                max-width: 100%;
                display: block;
                margin-top: -12%;
                margin-bottom: 7%;
            }
        }
    }


.img-esquerda{
    margin-bottom: -1%;
    width: 448px;
    height: 366px;
}

.img-direita{
    margin-bottom: -1%;
}

.texto-banner{
    color: white;
    line-height: 1.5;
    text-align: center;

    & h1{
        font-size: 36px;
        margin-top: -18%;
    }

    & p{
        font-size: 20px;
    }
}