.banner-estrutura {
    justify-content: space-between;
    align-items: flex-end;
}

.img-esquerda {
    width: 512px;
    height: 415px;
    margin-bottom: -4px;
}

.texto-banner {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    text-align: center;
}