.footer {
  padding: 2px;
  background-color: black;
  color: white;
  font-size: 11px;

  &  .p-10 {
    padding: 5px 0px 7px 10px;
  }
  & .conteiner {
    display: flex;
  }

  & .footer-texto {
    width: 50%;
  }

  & .footer-logo {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}