@media (max-width: 1250px){
    footer{
    font-size: 11px;
    padding-top: 1%;
    padding-bottom: 3%;
    padding-left: 5%;

        & .arquip{
            & img{
                width: 113px;
                height: 39px;
                position: relative;
                top: 44px;
                left: -31%;
            }
        }

        & .prefeitura{
            & img{
                width: 135px;
                height: 135px;
                position: relative;
                top: -44px;
                left: 53%;
            }
        }

        & .nome-arquip{
            position: relative;
            top: -8px;
        }

        & p{
            width: 135%;
        }
        
    }
}

footer {
    background-color: #000000;
    display: flex;
    align-items: center;
    color: white;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 8%;
}


.info-footer {
    font-family: Gilroy-Medium;
    
    & .rodape {
        line-height: 2.2;
    }
 
}

span {
    font-family: Gilroy-Bold;
}

.arquip {
    width: 327px;
}