<<<<<<< atualizacao-dropdowns
=======
@media (max-width: 1250px){
    footer{
    font-size: 11px;
    padding-top: 1%;
    padding-bottom: 3%;
    padding-left: 5%;

        & .arquip{
            & img{
                width: 113px;
                height: 39px;
                position: relative;
                top: 44px;
                left: -31%;
            }
        }

        & .prefeitura{
            & img{
                width: 135px;
                height: 47px;
                position: relative;
                top: -44px;
                left: 53%;
            }
        }

        & .nome-arquip{
            position: relative;
            top: -8px;
        }

        & p{
            width: 135%;
        }
        
    }
}

>>>>>>> main
footer {
    background-color: #000000;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: white;
    width: 100%;
    justify-content: space-evenly;
    padding: 91px 0px;
    gap: 28px 40px;
}


.info-footer {
    font-family: Gilroy-Medium;
    
    & .rodape {
        line-height: 2.2;
    }
 
}

span {
    font-family: Gilroy-Bold;
}



.footer-direita p {
    margin: 2px;
}

@media (max-width: 800px) {
  footer {
    display: none !important;
  }
}

@media (min-width: 1024px) {
    
    .footer-direita {
        display: flex;
        flex-direction: column;
    }
    
}