* {
    margin: 0px;
    padding: 0px;
  }

body{
    overflow-x: hidden
}

footer {
    background-color: #000000;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: white;
    width: 100%;
    justify-content: space-evenly;
    padding: 8px 0px;
    gap: 28px 40px;
}

.info-footer {
    font-family: Gilroy-Medium;
}

span {
    font-family: Gilroy-Bold;
}

.info-footer p {
    font-style: normal;
    margin: 5px;
    padding-right: 1px;
    font-size: 12px;
    flex-grow: 0.1;

    & a{
        text-decoration: none;
    }
}

.footer-direita p {
    font-style: normal;
    margin: 5px;
    font-size: 12px;
    text-align: right;

    & a{
        text-decoration: none;
    }
}

.contatos{
    flex-grow: 0.1;
}