footer {
    background-color: #000000;
    display: flex;
    align-items: center;
    color: white;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 8%;
}


.info-footer {
    font-family: Gilroy-Medium;
    
    & .rodape {
        line-height: 2.2;
    }
 
}

span {
    font-family: Gilroy-Bold;
}

.arquip {
    width: 327px;
}

.footer-esquerda p {
    margin: 2px;
}