@media (max-width: 540px) {
     nav{
        display: none;
    }

    .img-esquerda{
        display: none;
    }

    .img-direita{
        display: none;
    }
   
    .banner-estrutura{
        visibility: hidden;
    }

    .texto-banner{
        & h1{
            margin-bottom: 1%;
        }

        & p{
            margin-bottom: -60%;
        }
    }

    .card-secao{
        margin-top: 66%;
    }
}

@media (max-width: 1250px) {
     nav{
        display: none;
    }

    .img-esquerda{
        display: none;
    }

    .img-direita{
        display: none;
    }
   
    .banner-estrutura{
        visibility: hidden;
    }

    .texto-banner{
        visibility: visible;
        position: relative;
        top: 213px;
        
        & h1{
            color: black;
            margin-left: 10%;
            margin-right: 10%;
        }

        & p{
            color: black;
            margin-left: 10%;
            margin-right: 10%;
        }
    }
}

.img-esquerda {
    width: auto;
    opacity: 59%;
    margin-left: -20%;
    margin-bottom: -4px;
    height: auto;

}

.img-direita{ 
    width: auto;
    height: auto;
    position: relative;
    margin-bottom: -1%;

}

.texto-banner{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    text-align: center;
}

.banner-estrutura{
    justify-content: space-between;
    align-items: flex-end;
}