
.img-esquerda {
    width: 438px;
    opacity: 59%;
    margin-left: -20%;
    margin-bottom: -4px;
    height: 349px;

}

.img-direita{ 
    width: 322px;
    position: relative;
    margin-bottom: -1%;

}

.texto-banner{
    text-align: center;
    line-height: 1.5;
    color: white;

    & h1{
        font-size: 36px;
        margin-top: -18%;
    }

    & p {
        font-size: 20px;
    }
}
