/* ====== Fonte do Header ====== */
@font-face {
    font-family: Nimbus Sans;
    src: url(/assets/font-site/Gilroy-Black/NimbusSanL-Reg.otf);
}

@font-face {
    font-family: Gilroy-Bold;
    src: url(/assets/font-site/Gilroy-Black/gilroy-bold.ttf);
}

@font-face {
    font-family: Gilroy-Semibold;
    src: url(/assets/font-site/Gilroy-Black/gilroy-semibold.ttf);
}

/* ====== Header ====== */


.header_container::after {
    
    content: "";
    position: fixed;
    top: 97px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(8px); /* O desfoque */
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
    z-index: 990;
    pointer-events: none;
    outline: none;
    border: none;
}

/* Quando houver QUALQUER menu ativo, a cortina aparece */
.header_container:has(.menu-ativo)::after {
    opacity: 1;
    visibility: visible;
}

.header_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97px;
    gap: 77px;
    background-color: #008BD2;
}

.header_botao button {
    color: #fff;
    background-color: #001E40;
    font-size: 1rem;
    padding: 10px 24px 10px 24px;
    border-radius: 10px;
    font-family: Gilroy-Bold;
    border: none;
    cursor: pointer;
}

.container_navegacao {
    display: flex;
}


.container_navegacao {
    height: 52px;
}

.container-wrapper {
    margin-left: auto;
    padding: 3px 48px;
    display: flex;
    align-items: center;
}

.input-wrapper {
    width: 256px;
    padding: 0px 2px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 13px;
    box-sizing: border-box;
    gap: 8px;
}

.input-wrapper input {
    flex: 1;
    background-color: transparent;
    border: none;
    font-size: 14px;
    height: 28px;
    margin-left: 16px;
}

.input-wrapper input:focus-visible {
    outline: none;
}

.input-wrapper i {
    color: #000;
    cursor: pointer;
    transition: transform 0.1s ease;
}

.input-wrapper i:active {
    transform: scale(0.9);
}

.navegacao-lista {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 32px;
    margin: 0;
}

.navegacao-item {
    position: static;
}

.navegacao-botao {
    color: white;
    background-color: transparent;
    border: none;
    display: flex;
    cursor: pointer;
    align-items: center;
    height: 52px;
    font-size: clamp(1.1rem, 1.2vw, 0.87rem);
    outline: none;
    user-select: none;
}

.navegacao-botao span {
    font-family: Gilroy-Semibold;
}

.navegacao-texto {
    position: relative;
    display: inline-block;
}

.navegacao-texto::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 1px;
    background-color: #fff;
    transition: width 0.4s ease-in-out;
}

.navegacao-botao:hover .navegacao-texto::after {
    width: 100%;
}

.navegacao-item.active .navegacao-texto::after {
    width: 100%;
}

.seta-menu {
    margin-left: 8px;
}

.navegacao-botao:hover {
    background-color: transparent;
}


/* Hover para abrir a NavBar
.navegacao-item:hover .navegacao-mega_menu {
    display: block;
}
*/


.navegacao-mega_menu {
    position: absolute;
    top: 100%;
    width: 65%;
    max-width: 1200px;
    left: 50%;
    background-color: #fff;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    z-index: 999;
    border-radius: 0px 0px 15px 15px;
    overflow: hidden;
    display: block;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) scaleY(0);
    transform-origin: top;
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s ease, visibility 0.4s;
}



.navegacao-item.menu-ativo .navegacao-mega_menu {
    display: block;
    position: absolute;
    top: 97px;
    width: 65%;
    min-width: 400px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    z-index: 999;
    border-radius: 0px 0px 15px 15px;
    overflow: hidden;
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scaleY(1);
}

.navegacao-botao:hover .navegacao-texto::after,
.navegacao-item.menu-ativo .navegacao-texto::after {
    width: 100%;
}

.navegacao-coluna {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 25px;
    gap: 5px;
}


.navegacao-mega_container {
    max-width: 1237px;
    margin: 0 auto;
    display: flex;
}

.navegacao-coluna a {
    color: #000;
    padding: 10px;
    font-family: Gilroy-Semibold;
    text-decoration: none;
    font-size: 1.10rem;
    width: max-content;
}

.navegacao-coluna a:hover {
    color: #018BD2;
}

.btn-busca {
    padding: 4px 6px;
    border-radius: 4px;
}

.btn-busca:hover {
    background-color: #e0e0e0;
}

.sugestoes-box {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background: #fff;
    border-radius: 12px;
    border: 1px solid #e0e0e0;

    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);

    z-index: 999;
    overflow: hidden;
}

.sugestao-item {
    padding: 12px 16px;
    font-size: 14px;

    display: flex;
    align-items: center;
    gap: 10px;

    cursor: pointer;
    transition: background 0.2s;
}

.sugestao-item strong {
    color: #000;
    font-weight: 600;
}

.sugestao-item span {
    color: #777;
}

.sugestao-item:hover,
.sugestao-item.active {
    background: #f5f7fa;
}

.icone {
    font-size: 13px;
    opacity: 0.6;
}

mark {
    background-color: #fff59d;
    padding: 1px 3px;
    border-radius: 3px;
}

.input-wrapper input::placeholder {
    color: #000;
    font-family: Nimbus Sans;
}


/* Isso cria a linha divisória cinza entre as colunas */
.navegacao-coluna+.navegacao-coluna {
    border-left: 1px solid #eeeeee;
    margin-left: 0;
    padding-left: 30px;
}

.chevron {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-left: 10px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(45deg);
    transition: transform 0.3s ease-in-out;
    vertical-align: middle;
    margin-bottom: 4px;
}

.navegacao-item.menu-ativo .chevron {
    transform: rotate(-135deg);
    margin-bottom: -2px;
}




/* ====== Tablet / Mobile / ====== */
@media (max-width: 1046px) {

    .cabecalho-btn {
        display: block;
    }

    .container-wrapper {
        padding: 3px 5px;
    }

    .cabecalho-logos {
        display: flex;
        justify-content: space-around;
    }

    .cabecalho-logo_arquip {
        margin-left: 0px;
    }

    .cabecalho-logo_gestao {
        margin-right: 0px;
    }

    .btn-hamburguer {
        display: flex;
    }

    .btn-hamburguer {
        flex-direction: column;
        justify-content: center;
        gap: 5px;
        width: 30px;
        height: 25px;
        margin-right: 20px;
        cursor: pointer;
    }

    .btn-hamburguer span {
        display: block;
        height: 3px;
        width: 100%;
        background: white;
        border-radius: 2px;
        transition: all 0.3s ease;
    }

    /* ===== Animação (vira X) ===== */
    .btn-hamburguer.ativo span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .btn-hamburguer.ativo span:nth-child(2) {
        opacity: 0;
    }

    .btn-hamburguer.ativo span:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
    }

    /* ====== Menu Lateral ====== */
    .navegacao {
        position: fixed;
        top: 0;
        left: 0;
        width: 50%;
        min-width: 220px;
        max-width: 320px;
        height: 100vh;

        background-color: #008BD2;

        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        padding-top: 70px;

        transform: translateX(-100%);
        transition: transform 0.3s ease;

        z-index: 1000;
    }

    .navegacao-coluna a {
        border-bottom: 1px solid #0a7cb59c;
    }

    .navegacao-lista li {
        display: block;
    }

    .navegacao-coluna {
        width: 100%;
    }

    .navegacao-botao {
        font-size: 0.8125rem;
    }

    .navegacao-coluna a {
        font-size: 0.8125rem;
    }

    .navegacao.ativo {
        transform: translateX(0);
        width: 278px;
    }

    .navegacao form {
        position: fixed;
        top: 10px;
        right: 10px;
        width: auto;
        z-index: 1100;
    }

    /* ====== Menu em Coluna ====== */
    .navegacao-lista {
        flex-direction: column;
        width: 100%;
        padding: 0;
        gap: 0;
    }

    .navegacao-item {
        width: 100%;
    }

    .navegacao-botao {
        width: 100%;
        padding: 15px;
        justify-content: space-between;
    }

    /* ====== REMOVE HOVER ====== */
    .navegacao-item:hover .navegacao-mega_menu {
        display: none;
    }

    /* ====== SUBMENU MOBILE ====== */
    .navegacao-mega_menu {
        position: static;
        display: none;
        width: 100%;
        min-width: 0px;
    }

    .navegacao-item.ativo .navegacao-mega_menu {
        display: block;
    }

    /* ====== OVERLAY ====== */
    #overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0);
        pointer-events: none;
        transition: 0.3s;
        z-index: 999;
    }

    #overlay.ativo {
        background: rgba(0, 0, 0, 0.4);
        pointer-events: all;
    }

    .container_navegacao {
        height: 0px;
    }

    .navegacao-botao .chevron {
        display: inline-block;
        width: 14px;
        height: 14px;
        flex-shrink: 0;
        position: relative;
        transition: transform 0.25s ease;
    }

    .navegacao-botao .chevron::before,
    .navegacao-botao .chevron::after {
        content: '';
        position: absolute;
        width: 7px;
        height: 2px;
        background: #fff;
        border-radius: 1px;
        top: 50%;
    }

    .navegacao-botao .chevron::before {
        left: 1px;
        transform: translateY(-50%) rotate(40deg);
    }

    .navegacao-botao .chevron::after {
        right: 1px;
        transform: translateY(-50%) rotate(-40deg);
    }

    .navegacao-item.ativo>.navegacao-botao .chevron {
        transform: rotate(180deg);
    }

    .navegacao-coluna a::before {
        content: "";
        display: inline-block;
        width: 6px;
        height: 6px;
        background-color: #fff;
        border-radius: 50%;
        margin-right: 15px;
    }
}