/* ====== Fonte do Header ====== */
@font-face {
    font-family: Nimbus Sans;
    src: url(/assets/font-site/Gilroy-Black/NimbusSanL-Reg.otf);
}


/* ====== Header ====== */
.cabecalho-logos {
    background-color: #008BD2;
    width: 100%;
    height: clamp(4rem, 8vw, 66px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container_navegacao {
    display: flex;
}

.cabecalho-logo_arquip {
    margin-left: 48px;
}

.cabecalho-logo_gestao {
    margin-right: 48px;
}

button {
    font-family: Gilroy-Medium;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.container_navegacao {
    height: 52px;
}

.container-wrapper {
    margin-left: auto;
    padding: 3px 48px;
    display: flex;
    align-items: center;
}

.input-wrapper {
    width: 256px;
    padding: 0px 2px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 13px;
    box-sizing: border-box;
    gap: 8px;
}

.input-wrapper input {
    flex: 1;
    background-color: transparent;
    border: none;
    font-size: 14px;
    height: 28px;
    margin-left: 16px;
}

.input-wrapper input:focus-visible {
    outline: none;
}

.input-wrapper i {
    color: #000;
    cursor: pointer;
    transition: transform 0.1s ease;
}

.input-wrapper i:active {
    transform: scale(0.9);
}

.navegacao {
    width: 100%;
    background-color: #008BD2;
    border-top: 2px solid #0793da;
    height: clamp(52px, 8vw, 52px);
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navegacao-lista {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 32px;
    margin: 0;
    padding: 0px 48px;
}

.navegacao-item {
    position: relative;
}

.navegacao-botao {
    color: white;
    display: flex;
    cursor: pointer;
    align-items: center;
    height: 52px;
    font-size: clamp(0.9rem, 1.2vw, 0.87rem);
    font-family: Nimbus Sans;
}

.seta-menu {
    margin-left: 8px;
}

.navegacao-botao:hover {
    background-color: #4cb0e2;
}

.navegacao-mega_menu {
    position: absolute;
    min-width: 350px;
    display: none;
    box-shadow: 0 8px 20px rgb(0 0 0 / 7%);
}

.navegacao-item:hover .navegacao-mega_menu {
    display: block;
}

.navegacao-mega_container {
    max-width: 1200px;
    margin: 0 auto;
}

.navegacao-coluna {
    display: flex;
    flex-direction: column;
    background-color: #0793da;
    border-radius: 0px 0px 5px 5px;
}

.navegacao-coluna a {
    color: #fff;
    padding: 10px;
    font-family: Nimbus Sans;
    text-decoration: none;
    font-size: 1rem;
}


.navegacao-coluna a:hover {
    background: #4cb0e2;
}

.btn-busca {
    padding: 4px 6px;
    border-radius: 4px;
}

.btn-busca:hover {
    background-color: #e0e0e0;
}

.sugestoes-box {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background: #fff;
    border-radius: 12px;
    border: 1px solid #e0e0e0;

    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);

    z-index: 999;
    overflow: hidden;   
}

.sugestao-item {
    padding: 12px 16px;
    font-size: 14px;

    display: flex;
    align-items: center;
    gap: 10px;

    cursor: pointer;
    transition: background 0.2s;
}

.sugestao-item strong {
    color: #000;
    font-weight: 600;
}

.sugestao-item span {
    color: #777;
}

.sugestao-item:hover,
.sugestao-item.active {
    background: #f5f7fa;
}

.icone {
    font-size: 13px;
    opacity: 0.6;
}

mark {
    background-color: #fff59d;
    padding: 1px 3px;
    border-radius: 3px;
}

.input-wrapper input::placeholder {
    color: #000;
    font-family: Nimbus Sans;
}




/* ====== Tablet / Mobile / ====== */
@media (max-width: 1046px) {

    .cabecalho-btn {
        display: block;
    }

    .container-wrapper {
        padding: 3px 5px;
    }

    .cabecalho-logos {
        display: flex;
        justify-content: space-around;
    }

    .cabecalho-logo_arquip {
        margin-left: 0px;
    }

    .cabecalho-logo_gestao {
        margin-right: 0px;
    }

    .btn-hamburguer {
        display: flex;
    }

    .btn-hamburguer {
        flex-direction: column;
        justify-content: center;
        gap: 5px;
        width: 30px;
        height: 25px;
        margin-right: 20px;
        cursor: pointer;
    }

    .btn-hamburguer span {
        display: block;
        height: 3px;
        width: 100%;
        background: white;
        border-radius: 2px;
        transition: all 0.3s ease;
    }

    /* ===== Animação (vira X) ===== */
    .btn-hamburguer.ativo span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .btn-hamburguer.ativo span:nth-child(2) {
        opacity: 0;
    }

    .btn-hamburguer.ativo span:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
    }

    /* ====== Menu Lateral ====== */
    .navegacao {
        position: fixed;
        top: 0;
        left: 0;
        width: 50%;
        min-width: 220px;
        max-width: 320px;
        height: 100vh;

        background-color: #008BD2;

        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        padding-top: 70px;

        transform: translateX(-100%);
        transition: transform 0.3s ease;

        z-index: 1000;
    }

    .navegacao-coluna a {
        border-bottom: 1px solid #0a7cb59c;
    }

    .navegacao-lista li {
        display: block;
    }

    .navegacao-coluna {
        width: 100%;
    }

    .navegacao-botao {
        font-size: 0.8125rem;
    }

    .navegacao-coluna a {
        font-size: 0.8125rem;
    }

    .navegacao.ativo {
        transform: translateX(0);
        width: 278px;
    }

    .navegacao form {
        position: fixed;
        top: 10px;
        right: 10px;
        width: auto;
        z-index: 1100;
    }

    /* ====== Menu em Coluna ====== */
    .navegacao-lista {
        flex-direction: column;
        width: 100%;
        padding: 0;
        gap: 0;
    }

    .navegacao-item {
        width: 100%;
    }

    .navegacao-botao {
        width: 100%;
        padding: 15px;
        justify-content: space-between;
    }

    /* ====== REMOVE HOVER ====== */
    .navegacao-item:hover .navegacao-mega_menu {
        display: none;
    }

    /* ====== SUBMENU MOBILE ====== */
    .navegacao-mega_menu {
        position: static;
        display: none;
        width: 100%;
        min-width: 0px;
    }

    .navegacao-item.ativo .navegacao-mega_menu {
        display: block;
    }

    /* ====== OVERLAY ====== */
    #overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0);
        pointer-events: none;
        transition: 0.3s;
        z-index: 999;
    }

    #overlay.ativo {
        background: rgba(0, 0, 0, 0.4);
        pointer-events: all;
    }

    .container_navegacao {
        height: 0px;
    }

    .navegacao-botao .chevron {
        display: inline-block;
        width: 14px;
        height: 14px;
        flex-shrink: 0;
        position: relative;
        transition: transform 0.25s ease;
    }

    .navegacao-botao .chevron::before,
    .navegacao-botao .chevron::after {
        content: '';
        position: absolute;
        width: 7px;
        height: 2px;
        background: #fff;
        border-radius: 1px;
        top: 50%;
    }

    .navegacao-botao .chevron::before {
        left: 1px;
        transform: translateY(-50%) rotate(40deg);
    }

    .navegacao-botao .chevron::after {
        right: 1px;
        transform: translateY(-50%) rotate(-40deg);
    }

    .navegacao-item.ativo>.navegacao-botao .chevron {
        transform: rotate(180deg);
    }

    .navegacao-coluna a::before {
        content: "";
        display: inline-block;
        width: 6px;
        height: 6px;
        background-color: #fff;
        border-radius: 50%;
        margin-right: 15px;
    }
}