header {
    
    display: flex;
    width: 100%;
    flex-direction: column;

    & div {
        width: 100%;
        height: 91px;
        display: flex;
        justify-content: space-between;
        background-color: #0881c8;
        align-items: center;
        
        & img {
            width: 154px;
            padding: 5px 52px;
        }
    }

    justify-content: space-between;
    align-items: center;

}

nav {
    width: 84%;
    background-color: #00072D;
    margin: 0 auto;
    border-radius: 4px;

    & ul {
        display: flex;
        flex-direction: row;
        padding: 4px;
        justify-content: space-evenly;
        margin: 0;

        & li {
            font-size: 17px;
            line-height: 2.0;
            list-style: none;
            color: white;
        }

        & input {
            border-radius: 3px;
            width: 245px;
        }
    }

}
