@media screen and (max-width: 2300px) {

    header {
        position: absolute;
        z-index: 999;
        display: flex;
        width: 100%;
        flex-direction: column;

        & div {
            width: 100%;
            height: 103px;
            display: flex;
            justify-content: space-between;
            background-color: #0881c8;
            align-items: center;

            & img {
                width: 113px;
                padding: 5px 25px;
            }
        }

        justify-content: space-between;
        align-items: center;
    }

/*
    nav {
        width: 95%;
        background-color: #00072D;
        color: white;
        margin: 0 auto;

        & ul {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            display: flex;
            flex-direction: row;
            padding: 5px;
            justify-content: space-evenly;
            margin: 0;

            & li {
                list-style: none;
            }
        }
    }*/
}