/* ====== Reset na página ====== */
* {
  margin: 0px;
  padding: 0px;
}


/* ====== Fontes ======*/

@font-face {
  font-family: Gilroy-Medium;
  src: url(/assets/font-site/Gilroy-Black/Gilroy-Medium.ttf);
}

@font-face {
  font-family: Gilroy-Bold;
  src: url(/assets/font-site/Gilroy-Black/gilroy-bold.ttf);
}

@font-face {
  font-family: Gilroy-Black;
  src: url(/assets/font-site/Gilroy-Black/gilroy-black.ttf);
}

@font-face {
  font-family: Gilroy-ExtraBold;
  src: url(/assets/font-site/Gilroy-Black/Gilroy-ExtraBold.otf)
}

@font-face {
  font-family: Nimbus Sans;
  src: url(/assets/font-site/Gilroy-Black/NimbusSanL-Reg.otf);
}

@font-face {
  font-family: Gilroy-Regular;
  src: url(/assets/font-site/Gilroy-Black/Gilroy-Regular.ttf);
}




/* ====== Estilos Gerais ======*/

button {
  font-family: Gilroy-Medium;
}


h1,
h2,
h3 {
  font-family: Gilroy-Bold;
}


h4,
p,
ol,
ul,
li,
a {
  font-family: Nimbus Sans;
}

main p {
  font-family: Nimbus Sans;
  font-size: 1.125rem;
  color: #475569;
}

b {
  font-family: Gilroy-Black;
}


/* ====== Css/Conteúdo ====== */

main {
  margin: 115px auto;
  max-width: 1310px;
  padding: 0 20px;
  align-items: center;
}

.noticia-mobile {
  display: none;
}

.sistema-mobile_titulo {
  display: none;
}



/* ====== Desativados ====== */

.quem-somos_texto_mobile {
  display: none;
}

.cabecalho-btn {
  display: none;
}

/* ====== banner ====== */

.banner-estrutura {
  background-image: url(/assets/banner/index/banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: clamp(220px, 51vh, 450px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.banner-estrutura_conteudo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 300px;
  font-family: Nimbus Sans;
  width: 100%;
  max-width: 1320px;
  padding: 0 clamp(16px, 4vw, 48px);
  box-sizing: border-box;
}

.banner-estrutura_conteudo h1 {
  font-size: 3.75rem;
  color: #fff;
  max-width: 552px;
  line-height: 0.9;
}

.banner-estrutura_conteudo p {
  font-family: Nimbus Sans;
  font-size: clamp(1rem, 2vw, 1.5rem);
  color: #ffffff9e;
  margin-top: 15px;
}

.btn-hamburguer {
  display: none;
}


.quem-somos_texto_mobile {
  display: none;
}

.quem-somos {
  display: flex;
  gap: 39px;
  margin-bottom: 90px;
  justify-content: space-between;
  max-width: 1310px;
  padding: 0 48px;
}

.quem-somos_conteudo {
  max-width: 465px;
  text-align: left;
  min-height: 500px;
}

.quem-somos_conteudo h2 {
  font-size: 1.87rem;
  color: #002147;
}

.quem-somos_titulo {
  max-width: 21.18rem;
  padding-left: 0.31rem;
  font-size: 1.40rem;
}

.quem-somos_titulo h2 {
  text-align: left;
  margin: 1% 1% 1% 1%;
  padding-bottom: 0.93rem;
  max-width: 21.18rem;
}

.quem-somos_texto_pc {
  margin-top: 1.4375rem;
  text-align: left;
  margin-bottom: 1rem;
}

.cards-container {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}

.atendimento-card {
  width: 100%;
  max-width: 320px;
  height: 403px;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 10px;
  transition: transform 0.5s ease, box-shadow 0.3s ease;
}

.atendimento-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.atendimento-card:hover {
  transform: translateY(-8px);
}


.atendimento-card_titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #002147;
  min-height: 48px;
}

.atendimento-card_titulo h2 {
  display: flex;
  align-items: center;
  font-family: Gilroy-Bold;
  color: #fff;
  font-size: 1.1rem;
}

.atendimento-card_lista {
  flex-grow: 1;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 9px 12px;
}

.atendimento-card_lista ul {
  padding: 24px;
}

.atendimento-card_lista li {
  list-style: none;
  margin-bottom: 1px;
  width: 283px;
}

.atendimento-card_lista a {
  width: 272px;
  text-decoration: none;
  color: #002147;
  font-size: 1rem;
}

.atendimento-card_lista a:hover {
  color: #0793da;
}



/* === Css/Serviço ===*/
.servicos {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto 195px auto;
  padding: 0 48px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  gap: 49px;
}

.servico-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  max-width: 362px;
}

.servico-card_img {
  display: flex;
  width: 72px;
  height: 96px;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

.servico-card_img img {
  padding: 16px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border-radius: 12px;
}

.servico-card_ajuste {
  height: 144px;
}

.servico-card h2 {
  color: #0056B3;
  margin-bottom: 16px;
}

.servico-card p {
  max-width: 362px;
  margin-bottom: 47px;
}

.servico-card a {
  font-family: Gilroy-Bold;
  text-decoration: none;
  color: #fff;
  background-color: #002147;
  padding: 8px 24px 8px 24px;
  font-size: 0.75rem;
  border-radius: 5px;
}



/* === Css/Sistemas ===*/


.sistemas.sistemas_pc {
  width: 100%;
  max-width: 1310px;
}

.sistemas-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 115px;
  gap: 50px;
}

.sistemas-titulo {
  font-size: 24px;
  color: #0056B3;
  line-height: 1.2;
  margin-bottom: 2rem;
  max-width: 400px;
  width: 100%;
}


.sistemas-titulo_destaque {
  color: #002147;
  font-family: Gilroy-Bold;
  font-size: 2.25rem;
}


.sistemas-conteudo {
  width: 648px;
}

.titulo-sistemas {
  margin-bottom: 40px;
}


.sistemas-imagem img {
  width: 100%;
  max-width: 560px;
}

.carrossel-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.carrossel {
  overflow: hidden;
  width: 89%;
  padding: 13px 10px;
  box-sizing: border-box;
}

.track {
  display: flex;
  transition: transform 0.5s ease;
  gap: 18px;
  flex-wrap: nowrap;
}

.card {
  flex: 0 0 150px;
  height: 192px;
  background-color: #fff;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 15px;
  color: black;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease;
}

.card:hover {
  transform: translateY(-8px);
}

.seta {
  background: none;
  border: none;
  font-size: 40px;
  cursor: pointer;
  color: #aaa;
  padding: 10px;
  transition: 0.3;
}

.seta:hover {
  color: #555;
}


/* === CSS/NOTÍCIA ===*/


.noticia-container {
  display: flex;
  justify-content: space-between;
  gap: 35px;
}


.noticias-titulo h4 {
  font-family: Gilroy-Medium;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.noticia-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 416px;
  height: 536px;
  gap: 25px;
}

.noticia-card_link {
  color: #0047FF;
  text-decoration: none;
  display: block;
  font-size: 1.25rem;
  padding-top: 4.37rem;
}

.noticia-card img {
  width: 100%;
  height: 291px;
}






/*  =====  Notebook  ===== */
@media (min-width: 1024px) and (max-width: 1439px) {


  /* ====== Desativados ====== */

  .quem-somos_texto_mobile {
    display: none;
  }

  /* ========================== */

  .quem-somos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 176px;
  }

  .quem-somos_conteudo {
    width: 100%;
    max-width: 1310px;
    min-height: 210px;
  }

  .quem-somos_conteudo h2 {
    text-align: left;
  }

  .quem-somos_texto_pc {
    max-width: 1300px;
    text-align: justify;
  }

  .cards-container {
    gap: 90px;
  }

}






/*  ===== Tablets   ===== */
@media (max-width: 1046px) {

  .quem-somos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 94px;
  }

  .quem-somos_conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1310px;
    min-height: 210px;
    margin-bottom: 70px;
  }

  .quem-somos_conteudo h2 {
    text-align: left;
  }

  .quem-somos_texto_pc {
    max-width: 1300px;
    text-align: center;
  }

  .cards-container {
    display: flex;
    flex-direction: column;
    gap: 80px;
  }

  .servicos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
  }

  .servico-card {
    display: flex;
    align-items: center;
  }

  .servico-card p {
    text-align: center;
  }

  .sistemas-container {
    display: flex;
    justify-content: center;
    margin-bottom: 186px;
  }

  .sistemas-imagem {
    display: none;
  }

  .noticia-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
  }

  .noticias-titulo h4 {
    margin-bottom: 50px;
  }

}






/* ==== Mobile ==== */
@media (max-width: 699px) {

  .banner-estrutura {
    background-image:
      linear-gradient(to right,
        rgba(20, 21, 22, 0.8) 0%,
        /* Cor #141516 com 80% */
        rgba(0, 33, 71, 0.3) 100%
        /* Cor #002147 com 30% */
      ),
      url(/assets/banner/index/banner-arquivo-mobile.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 227px;
  }

  .banner-estrutura_conteudo {
    min-height: 0px;
    padding: 0 40px;
  }

  .banner-estrutura h1 {
    font-size: 2.1rem;
    line-height: 1.1;
  }

  .banner-estrutura_conteudo p {
    color: #fff;
  }

  main {
    padding: 2px;
  }

  .quem-somos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 95px;
  }

  .quem-somos_conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1310px;
    min-height: 210px;
    margin-bottom: 70px;
  }

  .quem-somos_conteudo h2 {
    text-align: left;
  }

  .quem-somos_texto_pc {
    max-width: 1300px;
    text-align: center;
  }

  .cards-container {
    display: flex;
    flex-direction: column;
    gap: 80px;
  }

  .servicos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
  }

  .servico-card {
    display: flex;
    align-items: center;
  }

  .servico-card p {
    text-align: center;
  }

  .sistemas-container {
    display: flex;
    justify-content: center;
    margin-bottom: 186px;
  }

  .sistemas-imagem {
    display: none;
  }

  .noticia-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
  }

  .noticias-titulo h4 {
    margin-bottom: 50px;
  }

  .noticia-card {
    max-width: 334px;
  }

  .container-wrapper {
    padding: 3px 5px;
  }

  .sistemas-conteudo {
    width: 100%;
    max-width: 303px;
  }

}