/* ====== FONTES ======*/

@font-face {
  font-family: Gilroy-Medium;
  src: url(/assets/font-site/Gilroy-Black/Gilroy-Medium.ttf);
}

@font-face {
  font-family: Gilroy-Bold;
  src: url(/assets/font-site/Gilroy-Black/gilroy-bold.ttf);
}

@font-face {
  font-family: Gilroy-Black;
  src: url(/assets/font-site/Gilroy-Black/gilroy-black.ttf);
}

@font-face {
  font-family: Gilroy-ExtraBold;
  src: url(/assets/font-site/Gilroy-Black/Gilroy-ExtraBold.otf)
}



/* ====== ESTILO GERAL ======*/

body {
  margin: 0;
}

button {
  font-family: Gilroy-Medium;
}


h1,
h2,
h3 {
  font-family: Gilroy-Bold;
}


h4,
p,
ol,
ul,
li,
a {
  font-family: Gilroy-Medium;
}

b {
  font-family: Gilroy-Black;
}


/*  =====  PC  ===== */

@media(min-width:1440px) {


  /*=== CSS/SISTEMAS QUE ESTÃO DESATIVADOS ===*/

  .sistema-mobile {
    display: none;
  }

  .noticia-mobile {
    display: none;
  }

  /*=== CSS/CONTEÚDO ===*/

  main {
    margin: 10% 15% 10% 15%;
  }


  /* === CSS/BANNER ===*/

  .banner {
    background-image: url('/assets/banner/index/banner-arquivo-pc.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    width: 100%;
    height: clamp(22rem, 35vw, 33rem);
    color: white;
    display: flex;
    align-items: center;
  }

  .banner-texto {
    margin-left: 180px;
  }

  .banner-texto h1 {
    font-size: 4rem;
    max-width: 560px;
    margin-bottom: 15px;
  }

  .banner-texto h2 {
    font-size: 2rem;
    margin-top: 0;
  }


  /* === CSS/QUEM-SOMOS ===*/

  .quem-somos_texto_mobile {
    display: none;
  }

  .quem-somos {
    display: flex;
    justify-content: space-evenly;
    gap: 2.18rem;
  }

  .quem-somos_conteudo {
    width: 33%;
    margin: 0 1%;
    text-align: left;
    margin-top: 0.93rem;
    margin-bottom: 4rem;
    min-height: 31.25rem;
  }

  .quem-somos_titulo {
    max-width: 21.18rem;
    padding-left: 0.31rem;
    font-size: 1.40rem;
  }

  .quem-somos_titulo h1 {
    text-align: left;
    margin: 1% 1% 1% 1%;
    padding-bottom: 0.93rem;
    max-width: 21.18rem;
  }

  .quem-somos_texto_pc {
    width: 90%;
    margin: 0 2%;
    text-align: left;
    min-height: 8.37rem;
  }

  .atendimento-card {
    width: 33%;
    height: 100%;
    transition: transform 0.5s ease, box-shadow 0.3s ease;
  }

  .atendimento-card:hover {
    transform: translateY(-8px);
  }



  .atendimento-card img {
    position: relative;
    width: 100%;
    z-index: -1;
  }

  .atendimento-card_titulo {
    width: 11.31rem;
    background-color: #00072D;
    padding: 5px 10px 5px 20px;
    border-radius: 0.18rem;
    font-size: 0.87rem;
    color: white;
  }

  .atendimento-card_conteudo {
    margin-top: -10%;
    background-color: white;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 1rem;
    box-shadow: 10px 5px 35px rgb(173, 173, 173);
    text-align: left;
    align-items: center;
  }


  .atendimento-card_lista {
    padding: 0 1.25rem;
    line-height: 30px;
    list-style: none;
  }

  .atendimento-card_lista a {
    color: #00072D;
  }

  /* === CSS/SERVIÇOS ===*/

  .servicos {
    display: flex;
    justify-content: space-evenly;
    gap: 6.18rem;
  }

  .servico-card {
    width: 26%;
    margin-bottom: 14.93rem;
  }

  .servico-card_icone img {
    height: 3.68rem;
  }

  .servico-card_titulo {
    color: #008BD2;
    margin-bottom: 0;
  }

  .servico-card_linha {
    margin-left: 0;
    margin-bottom: 1.93rem;
    background-color: #00072D;
    height: 1px;
    width: 18%;
  }

  .servico-texto {
    width: 100%;
    height: 61%;
    margin: 0 0%;
  }

  .servico-card_botao {
    background-color: #00072D;
    color: white;
    border-radius: 0.62rem;
    height: 1.93rem;
    width: 7.56rem;
  }

  /* === CSS/SISTEMAS ===*/


  .sistemas.sistemas_pc {
    width: 100%;
  }



  .sistemas-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10rem;
  }



  .sistemas-titulo {
    font-family: Gilroy-Medium;
    color: #00072D;
    line-height: 1.2;
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .sistemas-titulo_destaque {
    font-family: Gilroy-Black;
  }

  .sistemas-conteudo {
    width: 58%;
  }


  .sistemas-imagem img {
    width: 100%;
  }


  .sistemas-carrossel {
    height: 56%;
    display: flex;
    justify-content: space-around;
  }

  .sistemas-item {
    width: 31%;
    min-height: 15rem;
    background-color: #ffff;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 10px 5px 35px rgb(173, 173, 173);
    border-radius: 11px;
  }


  /* === CSS/NOTÍCIA ===*/

  .noticia-titulo {
    text-align: center;
    font-size: 1.40rem;
  }

  .noticias-cards {
    display: flex;
    gap: 1.25rem;
    justify-content: center;
    margin-top: 4.65rem;
  }

  .noticia-card {
    width: 100%;
  }

  .noticia-card_titulo {
    margin-top: 3.93rem;
  }

  .noticia-card img {
    width: 100%;
  }


  .noticia-card_link {
    color: #0047FF;
    text-decoration: none;
    display: block;
    text-align: right;
    font-size: 1.18rem;
    padding-top: 4.37rem;
  }
}














/*  =====  Notebook  ===== */


@media (min-width: 1024px) and (max-width: 1439px) {


  .sistema-mobile {
    display: none;
  }

  .noticia-mobile {
    display: none;
  }

  .menu-toggle {
    display: none;
  }


  main {
    margin: 10% 5% 10% 5%;
  }


  /* === CSS/BANNER ===*/


  #logo-arquip {
    width: 185px;
    height: 46px;
    padding: 5px 52px;
  }

  #logo-gestao {
    width: 208px;
    height: 71px;
    padding: 5px 60px;
  }


  .banner {
    background-image: url('/assets/banner/index/banner-arquivo-pc.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    width: 100%;
    height: clamp(22rem, 35vw, 33rem);
    color: white;
    display: flex;
    align-items: center;

  }

  .banner-texto {
    margin-bottom: 3rem;
  }

  .banner-texto h1 {
    line-height: 1.2;
    font-size: clamp(2.2rem, 4vw, 4rem);
    margin-left: 25%;
    margin-bottom: 0;
    max-width: 44rem;
  }

  .banner-texto h2 {
    font-size: clamp(1.2rem, 2vw, 1.8125rem);
    margin-left: 25%;
    max-width: 41.56rem;
  }



  /* === CSS/QUEM-SOMOS ===*/

  .quem-somos {
    display: flex;
    justify-content: space-evenly;
    gap: 2.18rem;
  }

  .quem-somos_conteudo {
    width: 33%;
    margin: 0 1%;
    text-align: left;
    margin-bottom: 4rem;
  }

  .quem-somos_titulo {
    max-width: 21.18rem;
    padding-left: 0.31rem;
    font-size: 1.40rem;
  }

  .quem-somos_titulo h2 {
    margin-top: 0;
  }

  .quem-somos_titulo h1 {
    text-align: left;
    margin: 1% 1% 1% 1%;
    padding-bottom: 0.93rem;
    max-width: 21.18rem;
  }

  .quem-somos_texto_pc {
    width: 90%;
    text-align: left;
    min-height: 8.37rem;
  }

  .atendimento-card {
    width: 33%;
    height: 100%;
  }

  .atendimento-card img {
    position: relative;
    width: 100%;
    z-index: -1;
  }

  .atendimento-card_titulo {
    width: 11.31rem;
    background-color: #00072D;
    padding: 5px 10px 5px 20px;
    border-radius: 0.18rem;
    font-size: 0.87rem;
    color: white;
  }

  .atendimento-card_conteudo {
    margin-top: -10%;
    background-color: white;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 1rem;
    box-shadow: 10px 5px 35px rgb(173, 173, 173);
    text-align: left;
    align-items: center;
  }


  .atendimento-card_lista {
    padding: 0 1.25rem;
    line-height: 30px;
    list-style: none;
  }

  .atendimento-card_lista a {
    color: #00072D;
  }



  /* === CSS/SERVIÇOS ===*/

  .servicos {
    display: flex;
    justify-content: space-evenly;
    gap: 6.18rem;
  }

  .servico-card {
    width: 26%;
    margin-bottom: 18rem;
  }

  .servico-card_icone img {
    height: 3.68rem;
  }

  .servico-card_titulo {
    color: #008BD2;
    margin-bottom: 0;
  }

  .servico-card_linha {
    margin-left: 0;
    margin-bottom: 1.93rem;
    background-color: #00072D;
    height: 1px;
    width: 18%;
  }

  .servico-texto {
    width: 100%;
    height: 61%;
    margin: 0 0%;
  }

  .servico-card_botao {
    background-color: #00072D;
    color: white;
    border-radius: 0.62rem;
    height: 1.93rem;
    width: 7.56rem;
  }



  /* === CSS/SISTEMAS ===*/


  .sistemas.sistemas_pc {
    width: 100%;
  }



  .sistemas-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10rem;
  }



  .sistemas-titulo {
    font-family: Gilroy-Medium;
    color: #00072D;
    line-height: 1.2;
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .sistemas-titulo_destaque {
    font-family: Gilroy-Black;
  }

  .sistemas-conteudo {
    width: 58%;
  }


  .sistemas-imagem img {
    width: 100%;
  }


  .sistemas-carrossel {
    height: 56%;
    display: flex;
    justify-content: space-around;
    gap: 15;
  }

  .sistemas-item {
    width: 31%;
    min-height: 15rem;
    background-color: #ffff;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 10px 5px 35px rgb(173, 173, 173);
    border-radius: 11px;
  }


  /* === CSS/NOTÍCIA ===*/

  .noticia-titulo {
    text-align: center;
    font-size: 1.40rem;
  }

  .noticias-cards {
    display: flex;
    gap: 1.25rem;
    justify-content: center;
    margin-top: 4.65rem;
  }

  .noticia-card {
    width: 100%;
  }

  .noticia-card_titulo {
    margin-top: 3.93rem;
  }

  .noticia-card img {
    width: 100%;
  }


  .noticia-card_link {
    color: #0047FF;
    text-decoration: none;
    display: block;
    text-align: right;
    font-size: 1.18rem;
    padding-top: 4.37rem;
  }
}









/*  ===== Tablets   ===== */


@media (min-width: 800px) and (max-width: 1023px) {


  /*=== CSS/SISTEMA QUE ESTÃO DESATIVADOS ===*/

  .sistema-mobile {
    display: none;
  }

  .noticia-mobile {
    display: none;
  }

  .menu-toggle {
    display: none;
  }

  /*=== CSS/CONTEUDO ===*/

  main {
    margin: 10% 3% 10% 3%;
  }

  nav {
    width: 100%;
  }


  /*=== CSS/NAVEGAÇÃO ===*/

  nav ul li {
    font-size: 12px;
    line-height: 2.0;
    list-style: none;
    color: white;
  }


  /* === CSS/BANNER ===*/


  .banner {
    background-image: url('/assets/banner/index/banner-arquivo-pc.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    width: 100%;
    height: clamp(22rem, 35vw, 33rem);
    color: white;
    display: flex;
    align-items: center;

  }

  .banner-texto {
    margin-bottom: 3rem;
  }

  .banner-texto h1 {
    line-height: 1.2;
    font-size: clamp(2.2rem, 4vw, 4rem);
    margin-left: 25%;
    margin-bottom: 0;
    max-width: 30.56rem;
  }

  .banner-texto h2 {
    font-size: clamp(1.2rem, 2vw, 1.8125rem);
    margin-left: 25%;
    max-width: 41.56rem;
  }




  /* === CSS/QUEM-SOMOS ===*/

  .quem-somos {
    display: flex;
    justify-content: space-evenly;
    gap: 2.18rem;
  }

  .quem-somos_conteudo {
    width: 33%;
    margin: 0 1%;
    text-align: left;
    margin-bottom: 4rem;
    min-height: 31.25rem;
  }

  .quem-somos_titulo {
    max-width: 21.18rem;
    padding-left: 0.31rem;
    font-size: 1.40rem;
  }

  .quem-somos_titulo h2 {
    margin-top: 0;
  }

  .quem-somos_titulo h1 {
    text-align: left;
    margin: 1% 1% 1% 1%;
    padding-bottom: 0.93rem;
    max-width: 21.18rem;
  }

  .quem-somos_texto {
    width: 90%;
    margin: 0 2%;
    text-align: left;
    min-height: 8.37rem;
  }

  .atendimento-card {
    width: 33%;
    height: 100%;
  }

  .atendimento-card img {
    position: relative;
    width: 100%;
    z-index: -1;
  }

  .atendimento-card_titulo {
    width: 11.31rem;
    background-color: #00072D;
    padding: 5px 10px 5px 20px;
    border-radius: 0.18rem;
    font-size: 0.87rem;
    color: white;
  }

  .atendimento-card_conteudo {
    margin-top: -10%;
    background-color: white;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 1rem;
    box-shadow: 10px 5px 35px rgb(173, 173, 173);
    text-align: left;
    align-items: center;
  }


  .atendimento-card_lista {
    padding: 0 1.25rem;
    line-height: 30px;
    list-style: none;
  }

  .atendimento-card_lista a {
    color: #00072D;
  }



  /* === CSS/SERVIÇOS ===*/

  .servicos {
    display: flex;
    justify-content: space-evenly;
    gap: 6.18rem;
  }

  .servico-card {
    width: 26%;
    margin-bottom: 18rem;
  }

  .servico-card_icone img {
    height: 3.68rem;
  }

  .servico-card_titulo {
    color: #008BD2;
    margin-bottom: 0;
  }

  .servico-card_linha {
    margin-left: 0;
    margin-bottom: 1.93rem;
    background-color: #00072D;
    height: 1px;
    width: 18%;
  }

  .servico-texto {
    width: 100%;
    height: 61%;
    margin: 0 0%;
  }

  .servico-card_botao {
    background-color: #00072D;
    color: white;
    border-radius: 0.62rem;
    height: 1.93rem;
    width: 7.56rem;
  }



  /* === CSS/SISTEMAS ===*/


  .sistemas.sistemas_pc {
    width: 100%;
  }



  .sistemas-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10rem;
  }



  .sistemas-titulo {
    font-family: Gilroy-Medium;
    color: #00072D;
    line-height: 1.2;
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .sistemas-titulo_destaque {
    font-family: Gilroy-Black;
  }

  .sistemas-conteudo {
    width: 58%;
  }


  .sistemas-imagem img {
    width: 100%;
  }


  .sistemas-carrossel {
    height: 56%;
    display: flex;
    justify-content: space-around;
  }

  .sistemas-item {
    width: 31%;
    min-height: 15rem;
    background-color: #ffff;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 10px 5px 35px rgb(173, 173, 173);
    border-radius: 11px;
  }


  /* === CSS/NOTÍCIA ===*/

  .noticia-titulo {
    text-align: center;
    font-size: 1.40rem;
  }

  .noticias-cards {
    display: flex;
    gap: 1.25rem;
    justify-content: center;
    margin-top: 4.65rem;
  }

  .noticia-card {
    width: 100%;
  }

  .noticia-card_titulo {
    margin-top: 3.93rem;
  }

  .noticia-card img {
    width: 100%;
  }


  .noticia-card_link {
    color: #0047FF;
    text-decoration: none;
    display: block;
    text-align: right;
    font-size: 1.18rem;
    padding-top: 4.37rem;
  }
}











/* ==== Mobile ==== */

@media (max-width: 799px) {


  /*=== CSS/SISTEMAS QUE ESTÃO DESATIVADOS ===*/

  .noticias {
    display: none;
  }


  .sistemas.sistemas_pc {
    display: none;
  }

  .quem-somos_texto_pc {
    display: none;
  }


  nav {
    display: none;
  }


  /*=== CSS/ICONES E LOGOS NO HEADER ===*/

  .cabecalho-logos {
    width: 100%;
    height: 91px;
    display: flex;
    justify-content: space-around;
    background-color: #0881c8;
    align-items: center;
  }


  .cabecalho-logo_arquip {
    width: 132px;
    height: 35px;
    margin-left: 0px;
  }


  .cabecalho-logo_gestao {
    width: 143px;
    height: 46px;
    margin-right: 0px;
  }


  /*=== CSS/BANNER ===*/

  .banner {
    background-image: url('/assets/banner/index/banner-arquivo-mobile.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    padding-top: 54px;
    position: relative;
    z-index: 1;
  }

  .banner-texto h1 {
    margin-left: 25px;
    position: relative;
    bottom: 15px;
  }

  .banner-texto h2 {
    margin-left: 22px;
    position: relative;
    bottom: 36px;
    font-size: 1.30rem;
  }


  /*=== CSS/CONTEÚDO PRINCIPAL ===*/

  main {
    margin: 58px 25px 0px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }


  /*=== CSS/QUEM-SOMOS ===*/


  .quem-somos_texto_mobile {
    margin-bottom: 75px;
  }

  .atendimento-card {
    width: 77%;
    margin: 0 auto;
  }

  .atendimento-card img {
    position: relative;
    width: 100%;
    z-index: -1;
  }

  .atendimento-card_titulo {
    width: 11.31rem;
    background-color: #00072D;
    padding: 5px 10px 5px 20px;
    border-radius: 0.18rem;
    font-size: 0.87rem;
    color: white;
  }

  .atendimento-card_conteudo {
    margin-top: -10%;
    margin-bottom: 78px;
    background-color: white;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 1rem;
    box-shadow: 10px 5px 35px rgb(173, 173, 173);
    text-align: left;
    align-items: center;
  }


  .atendimento-card_lista {
    padding: 0 1.25rem;
    line-height: 30px;
    list-style: none;
  }

  .atendimento-card_lista a {
    color: #00072D;
  }


  /*=== CSS/SERVICOS ===*/


  .servicos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .servico-card {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 5rem;
  }

  .servico-card_icone img {
    height: 4rem;
  }

  .servico-card_titulo {
    color: #008BD2;
    margin-bottom: 0;
  }

  .servico-card_linha {

    margin-bottom: 1.93rem;
    background-color: #00072D;
    height: 1px;
    width: 104px;
  }

  .servico-texto {
    width: 100%;
    height: 61%;
    margin-bottom: 50px;
  }

  .servico-card_botao {
    background-color: #00072D;
    color: white;
    border-radius: 1rem;
    height: 1.93rem;
    width: 7.56rem;
  }


  /*=== CSS/SISTEMAS ===*/


  .sistema-mobile {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 51px;
  }

  .sistema-mobile_titulo {
    text-align: left;
    font-size: 24px;
  }

  .power-bi {
    display: flex;
    width: 100%;
    height: 257px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/sistema-geren/powerbi.png);
    align-items: center;
    justify-content: center;
    border-radius: 10px;
  }

  /*=== CSS/NOTICIAS ===*/


  .noticia-mobile {
    text-align: center;
  }

  .noticia-titulo {
    font-size: 1.30rem;
  }

  .noticia-cards {
    width: 264px;
  }


  .noticia-card img {
    width: 262px;
  }

  .noticia-card_titulo {
    text-align: left;
  }

  .noticia-card_texto {
    width: 100%;
    text-align: left;
    margin-bottom: 35px;
  }


  .noticia-card_link {
    display: flex;
    justify-content: flex-end;
  }


  .noticia-card_link a {
    color: #0047FF;
    font-size: 16px;
    text-decoration: none;
  }
}