/* ====== Reset na página ====== */
* {
  margin: 0px;
  padding: 0px;
}


/* ====== Fontes ======*/

@font-face {
  font-family: Gilroy-Medium;
  src: url(/assets/font-site/Gilroy-Black/Gilroy-Medium.ttf);
}

@font-face {
  font-family: Gilroy-Bold;
  src: url(/assets/font-site/Gilroy-Black/gilroy-bold.ttf);
}

@font-face {
  font-family: Gilroy-Black;
  src: url(/assets/font-site/Gilroy-Black/gilroy-black.ttf);
}

@font-face {
  font-family: Gilroy-ExtraBold;
  src: url(/assets/font-site/Gilroy-Black/Gilroy-ExtraBold.otf)
}

@font-face {
  font-family: Nimbus Sans;
  src: url(/assets/font-site/Gilroy-Black/NimbusSanL-Reg.otf);
}

@font-face {
  font-family: Gilroy-Regular;
  src: url(/assets/font-site/Gilroy-Black/Gilroy-Regular.ttf);
}




/* ====== Estilos Gerais ======*/

button {
  font-family: Gilroy-Medium;
}


h1,
h2,
h3 {
  font-family: Gilroy-Bold;
}


h4,
p,
ol,
ul,
li,
a {
  font-family: Nimbus Sans;
}

main p {
  font-family: Nimbus Sans;
  font-size: 1.125rem;
  color: #475569;
}

b {
  font-family: Gilroy-Black;
}


/*=== CSS/CONTEÚDO ===*/

main {
  margin: 115px auto;
  max-width: 1310px;
  padding: 0 20px;
  align-items: center;
}

.noticia-mobile {
  display: none;
}

.sistema-mobile_titulo {
  display: none;
}



/* ====== banner ====== */

.banner-estrutura {
    background-image: url(/assets/banner/index/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 450px;
    display: flex;
    align-items: center;
}

.banner-estrutura_conteudo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 300px;
    font-family: Nimbus Sans;
    margin-left: 353px;
}

.banner-estrutura_conteudo h1 {
    font-size:  3.75rem;
    color: #fff;
    max-width: 552px;
    line-height: 0.9;
}

.banner-estrutura_conteudo p {
    font-family: Nimbus Sans;
    font-size: clamp(1rem, 2vw, 1.5rem);
    color: #ffffff9e;
    margin-top: 15px;
}




/* === CSS/QUEM-SOMOS ===*/

.quem-somos_texto_mobile {
  display: none;
}

.quem-somos {
  display: flex;
  gap: 39px;
  margin-bottom: 115px;
  justify-content: space-between;
  max-width: 1310px;
  padding: 0 48px;
}

.quem-somos_conteudo {
  max-width: 465px;
  text-align: left;
  min-height: 500px;
}

.quem-somos_conteudo h2 {
  font-size: 1.87rem;
  color: #002147;
}

.quem-somos_titulo {
  max-width: 21.18rem;
  padding-left: 0.31rem;
  font-size: 1.40rem;
}

.quem-somos_titulo h2 {
  text-align: left;
  margin: 1% 1% 1% 1%;
  padding-bottom: 0.93rem;
  max-width: 21.18rem;
}

.quem-somos_texto_pc {
  margin-top: 1.4375rem;
  text-align: left;
  margin-bottom: 1rem;
}

/* === ATENDIMENDO/CARDS === */

.cards-container {
  display: flex;
  gap: 32px;
  height: 403px;
}

.atendimento-card {
  width: 320px;
  height: 382px;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 10px;
  transition: transform 0.5s ease, box-shadow 0.3s ease;
}

.atendimento-card img {
  width: 320px;
  height: 160px;
  object-fit: cover;
}

.atendimento-card:hover {
  transform: translateY(-8px);
}


.atendimento-card_titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #002147;
  min-height: 48px;
}

.atendimento-card_titulo h2 {
  display: flex;
  align-items: center;
  font-family: Gilroy-Bold;
  color: #fff;
  font-size: 1.1rem;
}

.atendimento-card_lista {
  flex-grow: 1;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 9px 12px;
}

.atendimento-card_lista ul {
  padding: 24px;
}

.atendimento-card_lista li {
  list-style: none;
  margin-bottom: 1px;
  width: 283px;
}

.atendimento-card_lista a {
  width: 272px;
  text-decoration: none;
  color: #002147;
  font-size: 1rem;
}

.atendimento-card_lista a:hover {
  color: #0793da;
}



/* === CSS/SERVIÇOS ===*/


.servicos {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto 195px auto;
  padding: 0 48px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.servico-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  max-width: 362px;
}

.servico-card_img {
  display: flex;
  width: 72px;
  height: 96px;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

.servico-card_img img {
  padding: 16px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border-radius: 12px;
}

.servico-card_ajuste {
  height: 144px;
}

.servico-card h2 {
  color: #0056B3;
  margin-bottom: 16px;
}

.servico-card p {
  max-width: 362px;
  margin-bottom: 47px;
}

.servico-card a {
  font-family: Gilroy-Bold;
  text-decoration: none;
  color: #fff;
  background-color: #002147;
  padding: 8px 24px 8px 24px;
  font-size: 0.75rem;
  border-radius: 5px;
}



/* === CSS/SISTEMAS ===*/


.sistemas.sistemas_pc {
  width: 1310px;
}

.sistemas-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 115px;
  gap: 50px;
}

.sistemas-titulo {
  font-size: 24px;
  color: #0056B3;
  line-height: 1.2;
  margin-bottom: 2rem;
  max-width: 400px;
  width: 100%;
}


.sistemas-titulo_destaque {
  color: #002147;
  font-family: Gilroy-Bold;
  font-size: 2.25rem;
}


.sistemas-conteudo {
  width: 648px;
}

.titulo-sistemas {
  margin-bottom: 40px;
}


.sistemas-imagem img {
  width: 588px;
}

.carrossel-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.carrossel {
  overflow: hidden;
  width: 89%;
  padding: 13px 10px;
  box-sizing: border-box;
}

.track {
  display: flex;
  transition: transform 0.5s ease;
  gap: 18px;
  flex-wrap: nowrap;
}

.card {
  flex: 0 0 150px;
  height: 192px;
  background-color: #fff;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 15px;
  color: black;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease;
}

.card:hover {
  transform: translateY(-8px);
}

.seta {
  background: none;
  border: none;
  font-size: 40px;
  cursor: pointer;
  color: #aaa;
  padding: 10px;
  transition: 0.3;
}

.seta:hover {
  color: #555;
}


/* === CSS/NOTÍCIA ===*/


.noticia-container {
  display: flex;
  justify-content: space-between;
}


.noticias-titulo h4 {
  font-family: Gilroy-Medium;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.noticia-card {
  display: flex;
  flex-direction: column;
  width: 413px;
  height: 536px;
  gap: 25px;
}

.noticia-card_link {
  color: #0047FF;
  text-decoration: none;
  display: block;
  text-align: right;
  font-size: 1.18rem;
  padding-top: 4.37rem;
}

.noticia-card img {
  height: 291px;
}
















































































/*  =====  Notebook  ===== */


@media (min-width: 1024px) and (max-width: 1439px) {}


















/*  ===== Tablets   ===== */


@media (min-width: 768px) and (max-width: 1023px) {


  /*=== CSS/SISTEMA QUE ESTÃO DESATIVADOS ===*/

  .sistema-mobile {
    display: none;
  }

  .noticia-mobile {
    display: none;
  }

  .quem-somos_texto_mobile {
    display: none;
  }

  .menu-toggle {
    display: none;
  }

  .navegacao {
    display: none;
  }

  /*=== CSS/MAIN ===*/

  main {
    margin: 7% 2% 10% 2%;
  }

  /*=== CSS/NAVEGAÇÃO ===*/

  nav {
    width: 100%;
  }

  nav ul li {
    font-size: 12px;
    line-height: 2.0;
    list-style: none;
    color: white;
  }


  /* === CSS/BANNER ===*/


  .banner {
    background-image: url('/assets/banner/index/banner-arquivo-pc.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    width: 100%;
    height: clamp(22rem, 35vw, 33rem);
    color: white;
    display: flex;
    align-items: center;

  }


  .banner-texto {
    margin-left: clamp(20px, 8vw, 180px);
  }

  .banner-texto h1 {
    font-size: clamp(1.8rem, 5vw, 5rem);
    max-width: 450px;
    margin-bottom: 15px;
  }

  .banner-texto h2 {
    font-size: clamp(1rem, 2.5vw, 2rem);
  }



  /* === CSS/QUEM-SOMOS ===*/

  .quem-somos {
    display: flex;
    justify-content: space-evenly;
    gap: 2.18rem;
  }

  .quem-somos_conteudo {
    width: 33%;
    margin: 0 1%;
    text-align: left;
    margin-bottom: 4rem;
    min-height: 31.25rem;
  }

  .quem-somos_titulo {
    max-width: 21.18rem;
    padding-left: 0.31rem;
    font-size: 1.40rem;
  }

  .quem-somos_titulo h2 {
    margin-top: 0;
  }

  .quem-somos_titulo h1 {
    text-align: left;
    margin: 1% 1% 1% 1%;
    padding-bottom: 0.93rem;
    max-width: 21.18rem;
  }

  .quem-somos_texto {
    width: 90%;
    margin: 0 2%;
    text-align: left;
    min-height: 8.37rem;
  }

  .atendimento-card {
    width: 33%;
    height: 100%;
  }

  .atendimento-card img {
    position: relative;
    width: 100%;
    z-index: -1;
  }

  .atendimento-card_titulo {
    width: 11.31rem;
    background-color: #00072D;
    padding: 5px 10px 5px 20px;
    border-radius: 0.18rem;
    font-size: 0.87rem;
    color: white;
  }

  .atendimento-card_conteudo {
    margin-top: -10%;
    background-color: white;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 1rem;
    box-shadow: 10px 5px 35px rgb(173, 173, 173);
    text-align: left;
    align-items: center;
  }


  .atendimento-card_lista {
    padding: 0 1.25rem;
    line-height: 30px;
    list-style: none;
  }

  .atendimento-card_lista a {
    color: #00072D;
  }



  /* === CSS/SERVIÇOS ===*/

  .servicos {
    display: flex;
    justify-content: space-evenly;
    gap: 6.18rem;
  }

  .servico-card {
    width: 26%;
    margin-bottom: 18rem;
  }

  .servico-card_icone img {
    height: 3.68rem;
  }

  .servico-card_titulo {
    color: #008BD2;
    margin-bottom: 0;
  }

  .servico-card_linha {
    margin-left: 0;
    margin-bottom: 1.93rem;
    background-color: #00072D;
    height: 1px;
    width: 18%;
  }

  .servico-texto {
    width: 100%;
    height: 61%;
    margin: 0 0%;
  }

  .servico-card_botao {
    background-color: #00072D;
    color: white;
    border-radius: 0.62rem;
    height: 1.93rem;
    width: 7.56rem;
  }



  /* === CSS/SISTEMAS ===*/


  .sistemas.sistemas_pc {
    width: 100%;
  }



  .sistemas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10rem;
  }



  .sistemas-titulo {
    font-family: Gilroy-Medium;
    color: #00072D;
    line-height: 1.2;
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .sistemas-titulo_destaque {
    font-family: Gilroy-Black;
  }

  .sistemas-conteudo {
    width: 58%;
  }


  .sistemas-imagem img {
    width: 100%;
  }


  .sistemas-carrossel {
    height: 56%;
    display: flex;
    justify-content: space-around;
  }

  .sistemas-item {
    width: 31%;
    min-height: 15rem;
    background-color: #ffff;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 10px 5px 35px rgb(173, 173, 173);
    border-radius: 11px;
  }


  /* === CSS/NOTÍCIA ===*/

  .noticia-titulo {
    text-align: center;
    font-size: 1.40rem;
  }

  .noticias-cards {
    display: flex;
    gap: 1.25rem;
    justify-content: center;
    margin-top: 4.65rem;
  }

  .noticia-card {
    width: 100%;
  }

  .noticia-card_titulo {
    margin-top: 3.93rem;
  }

  .noticia-card img {
    width: 100%;
  }


  .noticia-card_link {
    color: #0047FF;
    text-decoration: none;
    display: block;
    text-align: right;
    font-size: 1.18rem;
    padding-top: 4.37rem;
  }
}






















/* ==== Mobile ==== */

@media (max-width: 767px) {


  /*=== CSS/SISTEMAS QUE ESTÃO DESATIVADOS ===*/

  .noticias {
    display: none;
  }


  .sistemas.sistemas_pc {
    display: none;
  }

  .quem-somos_texto_pc {
    display: none;
  }

  .noticia-mobile {
    display: block;
  }

  .sistema-mobile_titulo {
    display: block;
  }


  nav {
    display: none;
  }

  main {
    display: flex;
    flex-direction: column;
  }

  /*=== CSS/BANNER ===*/


  .banner {
    background-image: url('/assets/banner/index/banner-arquivo-mobile.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: auto;
    color: white;
    display: flex;
    align-items: center;
    padding-top: 54px;
    position: relative;
    z-index: 1;
  }

  .banner::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
  }

  .banner-texto h1 {
    margin-left: 0px;
    position: relative;
    bottom: 15px;
  }

  .banner-texto h2 {
    margin-left: 0px;
    position: relative;
    bottom: 15px;
    font-size: 1.30rem;
  }




  /*=== CSS/CONTEÚDO PRINCIPAL ===*/

  main {
    margin: 58px 25px 0px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }


  /*=== CSS/QUEM-SOMOS ===*/


  .quem-somos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

  .quem-somos_conteudo {
    margin: 0;
    min-height: 16.25rem;
  }

  .quem-somos_texto_mobile {
    display: block;
    margin-bottom: 75px;
  }

  .quem-somos_titulo {
    width: 100%;
    padding: 0;
    margin: 0;
    max-width: none;
  }

  .quem-somos_titulo h2 {
    padding-bottom: 0.93rem;
    text-align: center;
    margin: 0;
    width: 100%;
    max-width: none;
  }

  .quem-somos_conteudo {
    width: 100%;
    text-align: center;
  }

  .atendimento-card {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 0px;
  }

  .atendimento-card img {
    position: relative;
    width: 100%;
    z-index: -1;
  }

  .atendimento-card_titulo {
    width: 11.31rem;
    background-color: #00072D;
    padding: 5px 10px 5px 20px;
    border-radius: 0.18rem;
    font-size: 0.87rem;
    color: white;
  }

  .atendimento-card_conteudo {
    margin-top: -10%;
    margin-bottom: 78px;
    background-color: white;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 1rem;
    box-shadow: 10px 5px 35px rgb(173, 173, 173);
    text-align: left;
    align-items: center;
  }


  .atendimento-card_lista {
    padding: 0px 0px 0px 12px;
    line-height: 30px;
    list-style: none;
  }

  .atendimento-card_lista a {
    color: #00072D;
  }


  /*=== CSS/SERVICOS ===*/


  .servicos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 108px;
  }

  .servico-card {
    width: 100%;
    margin: 0 auto;
  }


  .servico-card_icone img {
    height: 4rem;
  }

  .servico-card_titulo {
    color: #008BD2;
    margin-bottom: 0;
  }

  .linha {
    height: 60px;
    display: flex;
    align-items: center;
  }


  .servico-card_linha {
    background-color: #00072D;
    height: 1px;
    width: 104px;
    margin-left: auto;
  }

  .servico-texto {
    width: 100%;
    height: 61%;
    margin-bottom: 50px;
  }

  .servico-card_botao {
    background-color: #00072D;
    color: white;
    border-radius: 1rem;
    height: 1.93rem;
    width: 7.56rem;
  }


  /*=== CSS/SISTEMAS ===*/


  .sistema-mobile {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 51px;
    margin-top: 72px;
  }

  .sistema-mobile_titulo {
    text-align: left;
    font-size: 24px;
  }

  .power-bi {
    display: flex;
    width: 100%;
    height: 257px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/sistema-geren/powerbi.png);
    align-items: center;
    justify-content: center;
    border-radius: 10px;
  }

  /*=== CSS/NOTICIAS ===*/


  .noticia-mobile {
    text-align: center;
  }

  .noticia-titulo {
    font-size: 1.30rem;
  }

  .noticia-cards {
    width: 264px;
  }


  .noticia-card img {
    width: 262px;
  }

  .noticia-card_titulo {
    text-align: left;
  }

  .noticia-card_texto {
    width: 100%;
    text-align: left;
    margin-bottom: 35px;
  }


  .noticia-card_link {
    display: flex;
    justify-content: flex-end;
    padding: 0;
  }


  .noticia-card_link a {
    color: #0047FF;
    font-size: 16px;
    text-decoration: none;
  }
}