/* ====== Fontes ====== */
@font-face {
    font-family: Gilroy-semibold;
    src: url(/assets/font-site/Gilroy-Black/gilroy-semibold.ttf);
}


/* === Banner === */
.banner-estrutura {
    justify-content: space-between;
    align-items: flex-end;
}

.img-esquerda,
.img-direita {
    display: block;
}

.img-direita {
    width: 347px;
}

.img-esquerda {
    width: 377px;
}

.icone-esquerda {
    width: 347px;
}


.texto-banner {
    height: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    text-align: center;
    margin-bottom: 24px;
}

.texto-banner h1 {
    color: #fff;
    margin-top: 35px;
    padding: 30px;
    font-size: clamp(16px, 4vw, 36px);
}

.texto-banner p {
    color: #fff;
    max-width: 993px;
    font-size: clamp(12px, 2vw, 24px);
}

.texto-banner a {
    color: #fff;
}

/* ====== Legislação-Container ====== */

.legislacao-container {
    margin-top: 92px;
    margin-left: 12%;
    margin-right: 12%;
    margin-bottom: 12%;
    background-color: white;
    font-size: 20px;
}

/* ====== Legislação-Tex-Inicial ====== */

.legislacao-text_inicial p {
    margin-bottom: 91px;
}

/* ====== Legisliação-Lista ====== */

.legislacao-lista {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.legislacao-lista ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 55px;
}


.legislacao-lista li {
    margin-top: 20px;
}

.leis-federais,
.portarias,
.leis,
.decretos {
    padding-top: 17px;

    & h2 {
        padding-top: 20px;
    }

    & ul {
        padding: 0;
        list-style: none;
    }

    & {
        li {
            margin-bottom: 20px;
        }
    }
}

a {
    color: #00072D;
}

.lista-legislacao a:hover {
    color: blue;
}

summary {
    list-style: none;
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 28px;
    display: inline-block;
    font-family: Gilroy-semibold;
}

details {
    display: inline-block;
}



.seta-leis {
    margin-left: 5px;
}

