/*--- Fontes ---*/

@font-face {
  font-family: "Gilroy-Light";
  src: url("/assets/font-site/Gilroy/Gilroy-Light.otf") format("opentype");

}

@font-face {
  font-family: "Gilroy-Medium";
  src: url("/assets/font-site/Gilroy/Gilroy-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url("/assets/font-site/Gilroy/Gilroy-ExtraBold.otf") format("opentype");
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url("/assets/font-site/Gilroy-Black/gilroy-bold.ttf") format("truetype");
}


/*--- Variáveis---*/

:root {
  --cor-azul-escuro: #00072D;
  --cor-azul-claro: #008BD2;
}



/*  =====  Pc  ===== */

@media(min-width:1280px) {



  .banner {
    display: none;
  }

  .banner {
    padding-top: 351px;
    background-image: url('/assets/banner/banner.arquivo-pc.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: left;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;

    position: relative;
    z-index: 2;

    & h1 {
      font-family: 'Gilroy-Bold', Arial, sans-serif;
      line-height: 1.2;
      position: relative;
      top: -169px;
      left: 116px;
      font-size: 43px;
    }

    & h2 {
      font-family: 'Arial';
      font-size: 29px;
      position: relative;
      top: -187px;
      left: 113px;
    }
  }

  /* === Before funciona como se fosse um elemento HTML invisível criado dentro do banner. É como se o CSS criasse uma folha transparente em cima do banner ===*/
  .banner::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 32%;
    z-index: -1;
  }


  .sistema-mobile {
    display: none;
  }



  * .carrossel-card {
    width: 100%;
    display: flex;

    & .carrossel-sistema {
      width: 70%;

      & h2 {
        height: 30%;
      }

    }

    & .carrossel {
      height: 56%;
      display: flex;
      justify-content: space-around;

      & div {
        margin-top: 0;
        width: 28%;
      }

      & #um {
        background-image: url(/assets/sistema-geren/icone-sei.png);
        background-repeat: no-repeat;
        background-size: 80%;
        background-position: center;
      }
    }
  }

  .primeira-secao,
  .segunda-secao {
    display: flex;
    justify-content: space-evenly;


    & h2 {
      color: #008BD2;
    }


    & .text-center {
      width: 33%;
      margin: 0 2%;
      text-align: left;
    }



    .card-icone {
      width: 33%;
      text-align: left;

      & hr {
        width: 58px;
        margin: 0;
      }

      & .img-card {
        height: 77px;
        align-items: baseline;
      }

      & .text-card {
        height: 50%;
      }

      button {
        background-color: #00072D;
        color: white;
        border-radius: 25px;        
        height: 35px;
        width: 108px;
      }


    }

  }

  .sistemas {
    & h1 {
      
    }
  }
}







/* ==== Mobile ==== */

@media(max-width:800px) {



  .banner {
    padding-top: 195px;
    background-image: url('/assets/banner/banner-arquivo-mobile.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: left;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;


    position: relative;
    z-index: 1;

    & h1 {
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      line-height: 1.2;
      position: relative;
      top: -103px;
      left: 20px;
      font-size: 32px;
    }

    & h2 {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 24px;
      position: relative;
      top: -118px;
      left: 15px;
    }
  }

  nav {
    display: none;
  }

  .secao-noticia {
    display: none;
  }


  .carrossel-card {
    display: none;
  }

  .texto-mobile {
    display: none;
  }


  .icone {
    padding-top: 45px;
  }

  .icone h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    color: #008BD2;
  }

  .icone hr {
    border: none;
    width: 31%;
    height: 3px;
    background: #1A1919BA;
  }

  .icone button {
    background-color: #00072D;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 33px;
    width: 109px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
  }

  .icone p {
    color: #00072D;
    font-family: Arial, Helvetica, sans-serif;
  }



  .sistema {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .sei {
    display: flex;
    width: 280px;
    height: 257px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/sistema-geren/powerbi.png);
    align-items: center;
    justify-content: center;
    border-radius: 10px;


    & div {
      display: flex;
      flex-direction: row;
      align-items: center;
      color: white;

      & img {
        background-color: white;
        padding: 5px;
        border-radius: 10px;
      }
    }
  }


  .noticias {
    text-align: center;
  }

  .noticias img {
    padding-top: 15px;
  }

  .noticias h3 {
    position: relative;
    left: -30px;
    padding-top: 6px;
  }

  .noticias p {
    text-align: left;
    position: relative;
    left: 25px;
  }

  .btn-saiba-mais {
    color: #0047FF;
    font-weight: 600;
    font-size: 16px;
    position: relative;
    left: 94px;
    text-decoration: none;
    cursor: pointer;
    background: transparent;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    font-family: 'Arial', sans-serif;
  }

  .seta {
    font-size: 18px;
    transition: transform 0.3s ease;
  }

  .btn-saiba-mais:hover .seta {
    transform: translateX(4px);
  }
}


body {
  margin: 0 auto;
}

main {
  margin: 10% 15%;
  position: relative;

  @media(max-width:800px) {

    top: -63px;
    text-align: center;
  }
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

h1,
h2,
h3 {
  font-family: "Gilroy-Bold";
  font-weight: 300;
}

.text-center {
  text-align: center;
  padding-bottom: 15%;
  color: #00072D;
}

.card img {
  position: relative;
  width: 100%;
  z-index: -1;
}

.card div {
  margin-top: -10%;
  background-color: white;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 1rem;
  box-shadow: 10px 5px 35px rgb(173, 173, 173);
  text-align: left;
  align-items: center;

}

.card div ul {
  padding: 0 20px;
  line-height: 25px;
}

.card div h2 {
  width: 181px;
  background-color: #00072D;
  padding: 5px 10px 5px 20px;
  border-radius: 3px;
  font-size: 14px;
  color: white;
}

.card div li {
  list-style: none;
}

.card div a {
  color: #00072D;

}