/* ====== Estilos Gerais ====== */

/* === Fontes === */
@font-face {
    font-family: Gilroy-Medium;
    src: url(/assets/font-site/Gilroy-Black/Gilroy-Medium.ttf);
}

@font-face {
    font-family: Gilroy-Bold;
    src: url(/assets/font-site/Gilroy-Black/gilroy-bold.ttf);
}

@font-face {
    font-family: Gilroy-SemiBold;
    src: url(/assets/font-site/Gilroy-Black/gilroy-semibold.ttf);
}


@font-face {
    font-family: Gilroy-Black;
    src: url(/assets/font-site/Gilroy-Black/gilroy-black.ttf);
}

@font-face {
    font-family: Gilroy-ExtraBold;
    src: url(/assets/font-site/Gilroy-Black/Gilroy-ExtraBold.otf)
}


/* ====== Reset na página ====== */
* {
    margin: 0px;
    padding: 0px;
}


/* === Estilo da página === */
body {
    margin: 0;
}

h1,
h4 {
    font-family: Gilroy-Bold;
}

h2 {
    font-family: Gilroy-SemiBold;
    font-size: 24px;
}

p,
ol,
ul,
li {
    font-family: Nimbus Sans;
    font-size: 1.25rem;
}

main {
    margin: 115px auto;
    max-width: 1310px;
    padding: 0 20px;
    align-items: center;
}


.container-pagina p {
    text-align: justify;
}


.banner-estrutura {
    display: flex;
    width: 100%;
    height: 450px;
    margin-top: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/assets/gestao-documental/banner-gest-doc.png);
}

.titulo-txt {
    margin-top: 5%;
    font-size: 20px;
}

.subtitulo-txt {
    margin-top: 2%;
    font-size: 17px;
}

.resumo-txt {
    margin-top: -18px;
    margin-bottom: 2%;
    font-size: 20px;
}


.lista-txt li {
    padding: 10px;
}

.estrutura-img {
    padding-top: 97px;
    padding-bottom: 97px;
    text-align: center;
}
