@font-face {
    font-family: Gilroy-Medium;
    src: url(/assets/font-site/Gilroy-Black/Gilroy-Medium.ttf);
}

@font-face {
    font-family: Gilroy-Bold;
    src: url(/assets/font-site/Gilroy-Black/gilroy-bold.ttf);
}


body{
    margin: 0;
}

h1 {
    font-family: Gilroy-Bold;
}

p {
    font-family: Gilroy-Medium;
}

 



.banner-estrutura {
    display: flex;
    width: 100%;
    height: 418px;
    padding-top: 34px; 
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/assets/gestao-documental/banner-gest-doc.png);
}



.container-pagina{
    padding-top: 92px;
    margin-left: 12%;
    margin-right: 12%;
    background-color: white;
    font-size: 20px;
}

.titulo-txt{
    margin-top: 5%; 
    font-size: 20px;
}

.subtitulo-txt{
    margin-top: 2%;
    font-size: 17px;
}

.resumo-txt{
    margin-top: -18px;
    margin-bottom: 2%;
    font-size: 20px;
}

.card-secao{
   font-size: 20px;
    
}

.lista-txt {

    & li {
        padding: 10px;
    }

}

.estrutura-img {
    padding-top: 97px;
    padding-bottom: 97px;
    text-align: center;
}
