/* ====== FONTES ======*/

@font-face {
  font-family: Gilroy-Medium;
  src: url(/assets/font-site/Gilroy-Black/Gilroy-Medium.ttf);
}

@font-face {
  font-family: Gilroy-Bold;
  src: url(/assets/font-site/Gilroy-Black/gilroy-bold.ttf);
}





/* ====== ESTILO GERAL ======*/

body {
  margin: 0;
}


h1,
h2,
h3,
h4 {
  font-family: Gilroy-Bold;
}

p,
ol,
ul,
li {
  font-family: Gilroy-Medium;
}




/*  =====  PC  ===== */

@media(min-width:800px) {



  .sistema-mobile {
    display: none;
  }

  .banner {
    margin-top: -42px;
    background-image: url('/assets/banner/index/banner-arquivo-pc.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    width: 100%;
    height: 465px;
    color: white;
    display: flex;
    align-items: center;

  }

  .banner-texto {
    display: flex;
    height: calc(100% - 80px);
    width: 100%;
    flex-direction: column;

    & h1 {
      line-height: 1.2;
      margin-top: 5.25rem;
      font-size: 3.312rem;
      margin-left: 11rem;
      margin-bottom: 0.9375rem;
      max-width: 46.5625rem;
    }

    & h2 {
      font-size: 1.8125rem;
      margin-left: 11rem;
      max-width: 46.5625rem;
    }
  }



  .primeira-secao,
  .segunda-secao {
    display: flex;
    justify-content: space-evenly;


    & h2 {
      color: #008BD2;
    }


    & .text-center {
      width: 33%;
      margin: 0 2%;
      text-align: left;
    }



    .card-icone {
      width: 33%;
      text-align: left;

      & hr {
        width: 58px;
        margin: 0;
      }

      & .img-card {
        height: 77px;
        align-items: baseline;
      }

      & .text-card {
        height: 50%;
      }

      button {
        background-color: #00072D;
        color: white;
        border-radius: 25px;
        height: 35px;
        width: 108px;
      }
    }
  }


  * .carrossel-card {
    width: 100%;
    display: flex;

    & .carrossel-sistema {
      width: 70%;

      & h2 {
        height: 30%;
      }

    }

    & .carrossel {
      height: 56%;
      display: flex;
      justify-content: space-around;

      & div {
        margin-top: 0;
        width: 28%;
      }

      & #um {
        background-image: url(/assets/sistema-geren/icone-sei.png);
        background-repeat: no-repeat;
        background-size: 80%;
        background-position: center;
      }
    }
  }



  .card-noticias {
    display: flex;
    justify-content: space-between;
    padding-top: 235px;
    gap: 32px;

    & div {
      position: relative;
    }

    img {
      width: 100%;
      height: 65%;
      display: block;
    }

    h2 {
      white-space: nowrap;
      /*--- Isso serve para não ter quebra de linha, permitindo assim o h2 ficar somente em uma linha ---*/
      position: absolute;
      top: -21%;
      left: 50%;
      transform: translate(-50%, -50%);

      color: #00072D;
      text-align: center;
      z-index: 2;
    }

    a {
      color: #0047FF;
      text-decoration: none;
      display: block;
      /*--- Agora o elemento vai ser comportar como um bloco, sendo movido para o lado que eu quiser ---*/
      text-align: right;
      /*--- Isso vai jogar a seta totalmente para a direita ---*/
      font-size: 19px;
    }
  }


}








/* ==== Mobile ==== */

@media(max-width:800px) {





  .card-noticias {
    display: none;
  }

  .secao-noticia {
    display: none;
  }


  .carrossel-card {
    display: none;
  }

  .texto-mobile {
    display: none;
  }

  .banner {
    padding-top: 195px;
    background-image: url('/assets/banner/index/banner-arquivo-mobile.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;


    position: relative;
    z-index: 1;

    & h1 {
      line-height: 1.2;
      position: relative;
      top: -103px;
      left: 20px;
      font-size: 32px;
    }

    & h2 {
      font-size: 24px;
      position: relative;
      top: -118px;
      left: 15px;
    }
  }

  nav {
    display: none;
  }


  .icone {
    padding-top: 45px;
  }

  .icone h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    color: #008BD2;
  }

  .icone hr {
    border: none;
    width: 31%;
    height: 3px;
    background: #1A1919BA;
  }

  .icone button {
    background-color: #00072D;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 33px;
    width: 109px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
  }

  .icone p {
    color: #00072D;
    font-family: Arial, Helvetica, sans-serif;
  }



  .sistema {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .sei {
    display: flex;
    width: 280px;
    height: 257px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/sistema-geren/powerbi.png);
    align-items: center;
    justify-content: center;
    border-radius: 10px;


    & div {
      display: flex;
      flex-direction: row;
      align-items: center;
      color: white;

      & img {
        background-color: white;
        padding: 5px;
        border-radius: 10px;
      }
    }
  }


  .noticias {
    text-align: center;
  }

  .noticias img {
    padding-top: 15px;
  }

  .noticias h3 {
    position: relative;
    left: -30px;
    padding-top: 6px;
  }

  .noticias p {
    text-align: left;
    position: relative;
    left: 25px;
  }

  .btn-saiba-mais {
    color: #0047FF;
    font-weight: 600;
    font-size: 16px;
    position: relative;
    left: 94px;
    text-decoration: none;
    cursor: pointer;
    background: transparent;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    font-family: 'Arial', sans-serif;
  }

  .seta {
    font-size: 18px;
    transition: transform 0.3s ease;
  }

  .btn-saiba-mais:hover .seta {
    transform: translateX(4px);
  }
}


body {
  margin: 0 auto;
}

main {
  margin: 10% 15%;
  position: relative;

  @media(max-width:800px) {

    top: -63px;
    text-align: center;
  }
}


h3 {
  font-weight: 300;
}

.text-center {
  text-align: center;
  padding-bottom: 15%;
  color: #00072D;
}

.card img {
  position: relative;
  width: 100%;
  z-index: -1;
}

.card div {
  margin-top: -10%;
  background-color: white;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 1rem;
  box-shadow: 10px 5px 35px rgb(173, 173, 173);
  text-align: left;
  align-items: center;

}

.card div ul {
  padding: 0 20px;
  line-height: 25px;
}

.card div h2 {
  width: 181px;
  background-color: #00072D;
  padding: 5px 10px 5px 20px;
  border-radius: 3px;
  font-size: 14px;
  color: white;
}

.card div li {
  list-style: none;
}

.card div a {
  color: #00072D;

}