@font-face {
    font-family: Gilroy-Medium;
    src: url(/assets/font-site/Gilroy-Black/Gilroy-Medium.ttf);
}

@font-face {
    font-family: Gilroy-Bold;
    src: url(/assets/font-site/Gilroy-Black/gilroy-bold.ttf);
}

@font-face {
    font-family: Gilroy-SemiBold;
    src: url(/assets/font-site/Gilroy-Black/gilroy-semibold.ttf);
}

body{
    margin: 0;
}

h1,h4 {
    font-family: Gilroy-Bold;
}

h2 {
    font-family: Gilroy-SemiBold;
    font-size: 24px;
}

p,ol,ul,li {
    font-family: Gilroy-Medium;
    line-height: 1.5;  
}



.banner-estrutura {
    display: flex;
    width: 100%;
    height: 462px;
    margin-top: 0; 
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/assets/gestao-documental/banner-gest-doc.png);

     & h1 {
        padding-top: 100px;
        font-size: 38px;
    }

    & p {
        font-size: 24px;
        margin-top: 0;
    }
}


.container-pagina{
    padding-top: 92px;
    margin-left: 12%;
    margin-right: 12%;
    background-color: white;
    font-size: 20px;
}

.titulo-txt{
    margin-top: 5%; 
    font-size: 20px;
}

.subtitulo-txt{
    margin-top: 2%;
    font-size: 17px;
}

.resumo-txt{
    margin-top: -18px;
    margin-bottom: 2%;
    font-size: 20px;
}


.lista-txt {

    & li {
        padding: 10px;
    }

}

.estrutura-img {
    padding-top: 97px;
    padding-bottom: 97px;
    text-align: center;
}


