/* ====== Estilos Gerais ====== */

/* === Fontes === */
@font-face {
    font-family: Gilroy-Medium;
    src: url(/assets/font-site/Gilroy-Black/Gilroy-Medium.ttf);
}

@font-face {
    font-family: Gilroy-Bold;
    src: url(/assets/font-site/Gilroy-Black/gilroy-bold.ttf);
}

@font-face {
    font-family: Gilroy-SemiBold;
    src: url(/assets/font-site/Gilroy-Black/gilroy-semibold.ttf);
}


@font-face {
    font-family: Gilroy-Black;
    src: url(/assets/font-site/Gilroy-Black/gilroy-black.ttf);
}

@font-face {
    font-family: Gilroy-ExtraBold;
    src: url(/assets/font-site/Gilroy-Black/Gilroy-ExtraBold.otf)
}

@font-face {
    font-family: Gilroy-Regular;
    src: url(/assets/font-site/Gilroy-Black/Gilroy-Regular.ttf);
}


/* ====== Reset na página ====== */
* {
    margin: 0px;
    padding: 0px;
}

/* ====== Desativados ====== */
.btn-hamburguer {
    display: none;
}

.cabecalho-btn {
    display: none;
}

.resumo-decreto_titulo_mobile {
    display: none;
}

.gestao-documental_titulo_mobile {
    display: none;
}

.legislacao-container_titulo_mobile {
    display: none;
}

/* === Estilo da página === */

h1,
h4 {
    font-family: Gilroy-Bold;
}

h2 {
    font-family: Gilroy-SemiBold;
    font-size: 24px;
}

p,
ol,
ul,
li {
    font-family: Nimbus Sans;
    font-size: 1.25rem;
}

main {
    margin: auto;
    max-width: 1310px;
    padding: 0 20px;
    align-items: center;
}


.container-pagina p {
    text-align: justify;
    margin: auto;
}


.banner-estrutura {
    display: flex;
    width: 100%;
    height: 450px;
    margin-top: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/assets/gestao-documental/banner-gest-doc.png);
}

.titulo-txt {
    margin-top: 5%;
    font-size: 20px;
}

.subtitulo-txt {
    margin-top: 2%;
    font-size: 17px;
}

.resumo-txt {
    margin-top: -18px;
    margin-bottom: 2%;
    font-size: 20px;
}


.lista-txt li {
    padding: 10px;
}

.estrutura-img {
    padding-top: 97px;
    padding-bottom: 97px;
    text-align: center;
}

/* ======= Mobile ======= */
@media (max-width: 699px) {

    .btn-hamburguer {
        display: block;
    }

    .cabecalho-btn {
        display: block;
    }

    .resumo-decreto_titulo_mobile {
        display: block;
    }

    .gestao-documental_titulo_mobile {
        display: block;
    }

    .legislacao-container_titulo_mobile {
        display: block;
    }

    footer {
        height: 490px;
    }

    main {
        margin: 70px auto;
    }
}