@font-face {
    font-family: Gilroy-Medium;
    src: url(/assets/font-site/Gilroy-Black/Gilroy-Medium.ttf);
}

body{
    font-family: Gilroy-Medium;
    margin: 0;
}


.banner-estrutura {
    display: flex;
    width: 100%;
    height: 384px;
    padding-top: 34px;
    background-repeat: no-repeat;
    align-items: flex-end;
    background-image: url(/assets/gestao-documental/banner-gest-doc.png);
    background-size: cover;
}



.container-pagina{
    padding-top: 92px;
    margin-left: 12%;
    margin-right: 12%;
    background-color: white;
    font-size: 20px;
}

.titulo-txt{
    margin-top: 5%; 
    font-size: 20px;
}

.subtitulo-txt{
    margin-top: 2%;
    font-size: 17px;
}

.resumo-txt{
    margin-top: -18px;
    margin-bottom: 2%;
    font-size: 20px;
}


.lista-txt {

    & li {
        padding: 10px;
    }

}

.estrutura-img {
    padding-top: 97px;
    padding-bottom: 97px;
    text-align: center;
}


