/*Mobile e Tablet*/
@media (max-width: 1281px){
nav{
    display: none;
}

.img-esquerda{
    display: none;
}

.img-direita{
    display: none;
}
   
.banner-estrutura{
    visibility: hidden;
    position: relative;
    height: auto;

}

.texto-banner{
    visibility: visible;
    position: relative;
        
    & h1{
        color: black;
        position: relative;
        text-align: center;
    }

    & p{
        color: black;
        margin-left: 10%;
        margin-right: 10%;
        position: relative;
        text-align: center;
    }
}

.card-secao{
    position: relative;
}

}

/*Desktop*/
@media (min-width: 1282px) {

    nav{
        display: flex;
        justify-content: center;
        z-index: 2;

        ul {
            display: flex;
            gap: 130px;
        }
    }

    .navegacao-coluna{
        display: flex;
    }

    .img-esquerda{
        display: block;
    }

    .img-direita{
        display: block;
    }
   
    .banner-estrutura{
        visibility: visible;
    }

    .img-esquerda{
        display: block;
        width: auto;
        height: auto;
    }

    .img-direita{
        display: block;
        height: auto;
        width: auto;
    }

    .texto-banner{
        margin-bottom: auto;
        h1{
            color: #fff;
            max-width: 60ch;
            font-size: clamp(1.2rem, 4vw, 3rem);
            text-align: center;
        }

        p {
            color: #fff;
            max-width: 60ch;
            margin: 0 auto;
            font-size: clamp(0.9rem, 2.5vw, 1.2rem);
            text-align: center;
        }
    }

    .banner-estrutura{
        justify-content: space-between;
        align-items: flex-end;
    }

    .direita{
        margin-left: 12%;
    }
}

