/* Reset para evitar problemas de largura com padding e border */
* {
  box-sizing: border-box;
}

/*Mobile*/
nav{
    display: none;
}

.img-esquerda{
    display: none;
}

.img-direita{
    display: none;
}
   
.banner-estrutura{
    visibility: hidden;
}

.texto-banner{
    visibility: visible;
        
    & h1{
        color: black;
        position: relative;
        text-align: center;
    }

    & p{
        color: black;
        margin-left: 10%;
        margin-right: 10%;
        position: relative;
        text-align: center;
    }
}

.img-portal{
    display: none;
    & img{
        max-width: 100%;
        height: auto;
        display: block;
        margin-top: 5%;
    }
}

.card-portal{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
    margin-top: 17%;
    & img{
        width: 70%;
        display: block;
        margin: 0 auto;
    }

    & h4{
        text-align: center;
        margin-top: 10px;
    }

    & p{
        text-align: center;
        margin-top: 0px;
    }
}

/*Tablet*/
@media (min-width: 768px) {
    .card-portal{
        grid-template-columns: repeat(2, 1fr);
        gap: 32px;
        margin-top: 0%;
    }
     & img{
        width: 85%;
        display: block;
        margin: 0 auto;
    }
}

/*Desktop*/
@media (min-width: 1024px) {
    
    .card-portal{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 32px;
    }

    nav{
        display: flex;
    }

    .img-esquerda{
        display: block;
    }

    .img-direita{
        display: block;
    }
   
    .banner-estrutura{
        visibility: visible;
    }

     .img-esquerda{
        display: block;
        width: auto;
        height: auto;
    }

    .img-direita{
        display: block;
        height: auto;
        width: auto;
    }

    .texto-banner{
        h1{
            color: #fff;
            min-width: 0;
            overflow-wrap: break-word;
        }

        p {
            color: #fff;
            min-width: 0;
            overflow-wrap: break-word;
        }

        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .banner-estrutura{
        justify-content: space-between;
        align-items: flex-end;
    }

    .direita{
        margin-left: 12%;
    }
}
    
    .img-portal{
        display: block;
        & img{
            max-width: 100%;
            height: auto;
            display: block;
            margin-top: 5%;
        }
    }
    


