.resultado-busca {
    background: #fff;
    border-radius: 10px;
    padding: 18px 22px;
    margin-bottom: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.06);
    transition: all 0.2s ease;
}

.resultado-busca:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 18px rgba(0,0,0,0.1);
}

.titulo-resultado {
    display: block;
    font-size: 1.4rem;
    font-weight: 600;
    color: #1a0dab;
    text-decoration: none;
    margin-bottom: 6px;
}

.titulo-resultado:hover {
    text-decoration: underline;
}

.trecho-resultado {
    font-size: 0.95rem;
    color: #4d5156;
    line-height: 1.5;
}

.info-resultado {
    font-size: 0.8rem;
    color: #006621;
    margin-bottom: 8px;
}

mark {
    background-color: #fff3a0;
    padding: 2px;
}

.sugestoes-box {
    position: absolute;
    top: 90%;
    right: 0;
    width: 98%;
    background: #fff;
    border-radius: 0 0 12px 12px;
    border: 1px solid #ddd;
    border-top: none;

    box-shadow: 0 8px 20px rgba(0,0,0,0.08);

    z-index: 999;
    overflow: hidden;
}

.sugestao-item {
    padding: 10px;
    font-size: 14px;
    transition: background 0.2s;
}

.btn-busca {
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 16px;
}

.input-wrapper {
    position: relative;
}

mark {
    background-color: #fff59d;
    padding: 2px 3px;
    border-radius: 3px;
}