@media (max-width: 1250px) {
     nav{
        display: none;
    }

    .img-esquerda{
        display: none;
    }

    .img-direita{
        display: none;
    }
   
    .banner-estrutura{
        visibility: hidden;
    }

    .texto-banner{
        visibility: visible;
        
        & h1{
            color: black;
            margin-left: 10%;
            margin-right: 10%;
            position: relative;
            top: -1px;
        }

        & p{
            color: black;
            margin-left: 10%;
            margin-right: 10%;
        }
    }

    a{
        overflow-wrap: break-word;
    }
}

.card-secao h4{
    margin-bottom: -1%;
}


.img-esquerda {
    width: auto;
    height: auto;
    margin-bottom: -4px;
}

.img-direita{ 
    width: auto;
    height: auto;
    margin-bottom: -4px;
}

.texto-banner {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    text-align: center;
}

.banner-estrutura{
    justify-content: space-between;
    align-items: flex-end;
}


h2 {
    color: #00072D;
}

a {
    color: blue;
}