.banner-estrutura {
    justify-content: space-between;
    align-items: flex-end;
}


.img-esquerda {
    width: 383px;
    height: 406px;
    margin-bottom: -4px;
}

.img-direita {
    width: 326px;
    height: 281px;
    float: right;
    margin-bottom: 0px;
}

.centralizar {
    width: 383px;
}

.texto-banner {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    text-align: center;
}

a {
    color: blue;
}
