<<<<<<< HEAD
@media (max-width: 1250px) {
     nav{
        display: none;
    }

    .img-esquerda{
        display: none;
    }

    .img-direita{
        display: none;
    }
   
    .banner-estrutura{
        visibility: hidden;
    }

    .texto-banner{
        visibility: visible;
        
        & h1{
            color: black;
            position: relative;
            top: 75px;

        }

        & p{
            color: black;
            margin-left: 10%;
            margin-right: 10%;
            position: relative;
            top: 71px;
       }
    }
}

    a {
    word-break: break-all;
}



.card-secao h4{
    margin-bottom: -1%;
=======
.banner-estrutura {
    justify-content: space-between;
    align-items: flex-end;
>>>>>>> d134a74018b960f71a49f4d3e24b0e77bb4b6c05
}


.img-esquerda {
    width: 383px;
    height: 406px;
    margin-bottom: -4px;
}

.img-direita {
    width: 326px;
    height: 281px;
    float: right;
    margin-bottom: 0px;
}

.centralizar {
    width: 383px;
}

.texto-banner {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    text-align: center;
}

a {
    color: blue;
}
