

.card-secao {

}

.img-esquerda {
    width: auto;
    margin-bottom: -4px;
    height: auto;

}

.img-direita{ 
    width: auto;
    height: auto;
    position: relative;
    margin-bottom: -1%;

}

.texto-banner{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    text-align: center;
}

.banner-estrutura{
    justify-content: space-between;
    align-items: flex-end;
}

.img-portal {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &    h3{
    position: relative;
    z-index: 1;
    margin-left: 851px;
    top: -530px;
    color: white;
    font-size: 36px;

}

    &    ul{
    position: relative;
    z-index: 1;
    right: -837px;
    top: -536px;
    color: white;
    font-size: 32px;
}

    &   p{
    position: relative;
    z-index: 1;
    right: -876px;
    top: -527px;
    color: white;
    font-size: 30px;
}
}

.pessoas {
        width: 693px;
        position: relative;
        left: 60px;
        z-index: 1;
}

.retangulo {
    position: relative;
    left: -577px;
    z-index: 0;
}

.triangulo {
    position: relative;
    z-index: 2;
    left: -261px;
    bottom: -208px;
}

.texto-azul{
   & h3{
    position: relative;
    z-index: 1;
    margin-left: 851px;
    top: -530px;
    color: white;
    font-size: 36px;
}

    & ul{
    position: relative;
    z-index: 1;
    margin-left: 837px;
    top: -536px;
    color: white;
    font-size: 32px;
}

    & p{
    position: relative;
    z-index: 1;
    margin-left: 876px;
    top: -527px;
    color: white;
    font-size: 30px;
}
}

.card-um{
    position: relative;
    width: 226px;
    height: 217px;
    justify-content: center;
    align-items: center;
    display: flex;

    & span{
      position: absolute;
      z-index: 5;
      top: -269px;
      left: 221px;
      color: white;
      font-size: 36px;  
    }

    & .circulo-preto{
    position: absolute;
    z-index: 1;
    top: -288px;
    left: 60px;
    width: 226px;
    height: 217px;
}

    & .contorno{
    position: absolute;
    z-index: 2;
    top: -285px;
    left: 201px;
}

    & .circulo-menor{
    position: absolute;
    z-index: 3;
    top: -277px;
    left: 206px;
    width: 68px;
    height: 65px;
}

    & .icone-um{
    position: absolute;
    z-index: 4;
    top: -225px;
    left: 137px;

}

}

.card-portal{
    position: relative;
    height: 400px;
    top: 429px;
    & .titulo-um{
        position: absolute;
        font-size: 20px;
        z-index: 1;
        top: -54px;
        left: 23px;
        }
    & .txt-um{
        position: absolute;
        font-size: 16px;
        z-index: 1;
        top: -14px;
        left: 10px;
        width: 25%;
        text-align: center;
    }

    & .titulo-dois{
        position: absolute;
        font-size: 20px;
        z-index: 1;
        top: -13px;
        left: 438px;
        width: 18%;
        text-align: center;
    }

    & .txt-dois{
        position: absolute;
        font-size: 16px;
        z-index: 1;
        top: 60px;
        left: 400px;
        width: 24%;
        text-align: center;
    }
    
    & .titulo-tres{
        position: absolute;
        font-size: 20px;
        z-index: 1;
        top: -53px;
        left: 773px;
    }

    & .txt-tres{
        position: absolute;
        font-size: 16px;
        z-index: 1;
        top: 0px;
        left: 755px;
        text-align: center;
        width: 22%;
    }

    & .titulo-quatro{
        position: absolute;
        font-size: 20px;
        z-index: 1;
        top: -19px;
        left: 1140px;
        text-align: center;
    }

    & .txt-quatro{
        position: absolute;
        font-size: 16px;
        z-index: 1;
        text-align: center;
        top: 32px;
        left: 1111px;
    }
}

.card-dois{
    position: relative;
    width: 226px;
    height: 217px;
    justify-content: center;
    align-items: center;
    display: flex;

    & .circulo-azul{
        position: absolute;
        z-index: 1;
        top: -453px;
        left: 457px;
        width: 226px;
        height: 217px;
    }

    & .contorno{
        position: absolute;
        z-index: 2;
        top: -446px;
        left: 599px;
    }

    & .circulo-menor{
        position: absolute;
        z-index: 3;
        top: -438px;
        left: 605px;
    }

    & .icone-dois{
        position: absolute;
        z-index: 3;
        top: -387px;
        left: 525px;
    }

    & span{
        position: absolute;
        z-index: 5;
        top: -429px;
        left: 616px;
        color: white;
        font-size: 36px;
    }
}

.card-tres{
    position: relative;
    width: 226px;
    height: 217px;
    justify-content: center;
    align-items: center;
    display: flex;

    & .circulo-azul{
        position: absolute;
        z-index: 1;
        top: -727px;
        left: 789px;
    }

    & .contorno{
        position: absolute;
        z-index: 2;
        top: -717px;
        left: 945px;
    }

    & .circulo-menor{
        position: absolute;
        z-index: 3;
        top: -710px;
        left: 950px;
    }

    & .icone-tres{
        position: absolute;
        z-index: 4;
        top: -650px;
        left: 872px;
    }

    & span{
        position: absolute;
        z-index: 5;
        top: -701px;
        left: 963px;
        color: white;
        font-size: 36px;
    }

}

.card-quatro{
    position: relative;
    width: 226px;
    height: 217px;
    justify-content: center;
    align-items: center;
    display: flex;

    & .circulo-azul{
        position: absolute;
        z-index: 1;
        top: -888px;
        left: 1157px;
    }

    & .contorno{
        position: absolute;
        z-index: 1;
        top: -869px;
        left: 1305px
    }

    & .circulo-menor{
        position: absolute;
        z-index: 2;
        top: -862px;
        left: 1311px;

    }

    & .icone-quatro{
        position: absolute;
        z-index: 2;
        top: -819px;
        left: 1232px;
    }

    & span{
        position: absolute;
        color: white;
        z-index: 5;
        font-size: 36px;
        top: -854px;
        left: 1321px;
    }
}

.conteudo-portal{
    margin-top: 29%;
    & .subtitulo-portal {
        font-size: 24px;
    }

    & ul{
        margin-top: 3%;
        margin-bottom: 3%;
    }

    & h4{
        margin-top: 3%;
    }
}

@media (max-width: 1250px) {
     nav{
        display: none;
    }

    .img-esquerda{
        display: none;
    }

    .img-direita{
        display: none;
    }
   
    .banner-estrutura{
        visibility: hidden;
    }

    .texto-banner{
        visibility: visible;
        
        & h1{
            color: black;
            position: relative;
            top: 75px;

        }

        & p{
            color: black;
            margin-left: 10%;
            margin-right: 10%;
            position: relative;
            top: 71px;
       }
    }

    .img-portal{
        margin-top: 17%;
        .pessoas{
            max-width: 100%;
            display: block;
            width: 70%;
            left: -11%;
        }

        .retangulo{
            max-width: 100%;
            width: 70%;
            left: -33%;
            display: block;
        }

        .triangulo{
            display: none;
        }
    }

    .conteudo-portal{
        padding-top: 1100px;
    }

    .card-um{
        & .circulo-preto{
            max-width: 100%;
            display: block;
            width: 70%;
            height: 70%;
        }

        & .contorno{
            max-width: 100%;
            display: block;
            width: 27%;
            height: 24%;
            left: 68.9%;
        }

        & .circulo-menor{
            max-width: 100%;
            display: block;
            width: 21%;
            height: 21%;
            left: 71%;
            top: -281px;
        }

        & .icone-um{
            max-width: 100%;
            display: block;
            width: 23%;
            height: 23%;
            left: 50%;
            top: -240px;
        }

        & .numero-card{
            max-width: 100%;
            display: block;
            font-size: 23px;
            left: 76%;
            top: -275px;
        }
    }


    .card-dois{
        & .circulo-azul{
            max-width: 100%;
            display: block;
            width: 70%;
            height: 70%;
            left: 27%;
            top: -123px;
        }

        & .contorno{
            max-width: 100%;
            display: block;
            width: 27%;
            height: 24%;
            left: 68%;
            top: -117px;
        }

        & .circulo-menor{
            max-width: 100%;
            display: block;
            width: 21%;
            height: 21%;
            left: 70%;
            top: -113px;
        }

        & .icone-dois{
            max-width: 100%;
            display: block;
            width: 23%;
            height: 23%;
            left: 50%;
            top: -74px;            
        }

        & .numero-card{
            max-width: 100%;
            display: block;
            font-size: 23px;
            left: 74%;
            top: -108px;
        }

    }

    .card-tres{
        & .circulo-azul{
            max-width: 100%;
            display: block;
            width: 70%;
            height: 70%;
            left: 27%;
            top: 11px;          
        }

        & .contorno{
            max-width: 100%;
            display: block;
            width: 27%;
            height: 24%;
            left: 67%;
            top: 18px;            
        }

        .circulo-menor{
            max-width: 100%;
            display: block;
            width: 21%;
            height: 21%;
            left: 69%;
            top: 23px;              
        }

        .icone-tres{
            max-width: 100%;
            display: block;
            width: 23%;
            height: 23%;
            left: 50%;
            top: 60px;                    
        }

        .numero-card{
            max-width: 100%;
            display: block;
            font-size: 23px;
            left: 74%;
            top: 29px; 
        }
    }


    .card-quatro{
        & .circulo-azul{
            max-width: 100%;
            display: block;
            width: 70%;
            height: 70%;
            left: 28%;
            top: 150px;
        }

        & .contorno{
            max-width: 100%;
            display: block;
            width: 27%;
            height: 24%;
            left: 68%;
            top: 155px;           
        }

        & .circulo-menor{
            max-width: 100%;
            display: block;
            width: 21%;
            height: 21%;
            left: 70%;
            top: 160px;
        }

        & .icone-quatro{
            max-width: 100%;
            display: block;
            width: 23%;
            height: 23%;
            left: 51%;
            top: 197px;
        }

        & .numero-card{
            max-width: 100%;
            display: block;
            font-size: 23px;
            left: 74%;
            top: 166px;
        }

    }




    .card-portal{
        margin-top: 1%;
        .titulo-um{
            width: 100%;
            left: -2%;
            top: -140px;
        }

        .txt-um{
            max-width: 100%;
            top: -95px;
            left: -4%;
            width: 100%;
        }

        .titulo-dois{
            left: -6%;
            top: 236px;
            width: 100%;
        }

        .txt-dois{
            max-width: 100%;
            left: -3%;
            top: 295px;
            width: 100%
        }
        
        .titulo-tres{
            width: 100%;
            left: 6%;
            top: 588px; 
        }

        .txt-tres{
            width: 100%;
            left: -3%;
            top: 632px;
        }

        .titulo-quatro{
            width: 100%;
            left: -4%;
            top: 952px;
        }

        .txt-quatro{
            width: 100%;
            left: -2%;
            top: 993px;     
        }
    }

    
}