/* ======  ESTILOS GERAIS ====== */

p {
    font-family: Nimbus Sans;
    margin-bottom: 1px;
    margin-top: 13px;
    font-size: 1.25rem;

}

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

main {
    max-width: 1310px;
    padding: 0 20px;
    align-items: center;
}


/* ======  QUEM SOMOS/ARQUIVO ====== */

.quem-somos-inicio {
    background-color: #F3F6F9;
    position: relative;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    padding: 115px 0px 80px;
}

.quem-somos {
    font-size: 1.25rem;
    text-align: justify;
}

.quem-somos h1 {
    font-size: 2.5rem;
    margin-bottom: 11px;
    font-family: Gilroy-SemiBold;
}

.quem-somos-subtitulo p {
    font-size: 1.25rem;
    font-family: Gilroy-Regular;
    margin-bottom: 1%;
}

.quem-somos-subtitulo h2 {
    margin-bottom: 19px;
    font-size: 2rem;
    font-family: Gilroy-SemiBold;
}

.quem-somos-conteudo p {
    font-size: 1.25rem;
    font-family: Gilroy-Regular;
    color: #00072D;
}

.quem-somos-arquivo-publico {
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    max-width: 1342px;
    margin: 0 auto;
    gap: 65px;
    height: 785px;
}

.img-titulo {
    display: flex;
    width: 100%;
    height: 785px;
    align-items: center;
}

.quem-somos-textos{
    display: flex;
    flex-direction: column;
}

/* ====== SERVIÇOS-DEVER-RESPONSABILIDADE  ====== */

.servico-cidadania{
    background-color: #00072D;
    position: relative;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    padding: 93px 0;
}

.dever-responsabilidade {
    gap: 11px;
    max-width: 1310px;
    margin: 0 auto;     
}

.imagem-right{
    width: 445px;
    height: 736px;
    margin-right: 1%;
    float: right;
}

.servicos-lista {
    margin-bottom: 80px;
}

.servicos {
    color: #fff;
}

.servicos p{
    font-family: Gilroy-Regular;
    font-size: 1.25rem;
}

.servicos ul {
    margin: 20px 0px;
}

.servicos li {
    font-family: Gilroy-Regular;
    font-size: 1.25rem;
}

.servicos ul li{
    line-height: 1.4;
    margin: 0;
    margin-left: 2%;
}

.servicos-conteudo {
    margin-bottom: 50px;
}

.servicos-conteudo h2{
    font-family: Gilroy-SemiBold;
    font-size: 1.5rem;
    margin-bottom: 4%;
}


/* ====== UMA-HOMENAGEM ====== */

.sec-homenagem {
    background-color: #F3F6F9;
    position: relative;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    padding: 93px 0;
}

.uma-homenagem {
    margin-bottom: 145px;
    max-width: 1310px;
    margin: 0 auto;   
}

.uma-homenagem-container {
    display: flex;
    justify-content: space-between;
    gap: 35px;
}


.uma-homenagem-titulo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 65px;
}


.uma-homenagem-titulo h2 {
    font-family: Gilroy-SemiBold;
    font-size: 2.5rem;
}

.paulo-roberto p {
    font-family: Gilroy-Regular;
    font-size: 1.25rem;
}

.uma-homenagem-titulo p {
    display: flex;
    align-items: center;
    margin: 0px;
    max-width: 311px;
    min-height: 135px;
    padding: 47px 43px 47px 43px;
    color: #fff;
    background-color: #008BD2;
    border-radius: 20px;
}

.uma-homenagem-img {
    height: 457px;
}

.uma-homenagem-conteudo {
    max-width: 415px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.uma-homenagem-conteudo p{
    font-family: Gilroy-Regular;
    font-size: 1.25rem;
}

/* Definição da animação */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.img-titulo, 
.quem-somos-titulo,
.dever-responsabilidade-conteudo,
.dever-responsabilidade-ajuste,
.uma-homenagem-container, 
.quem-somos-subtitulo, 
.quem-somos-conteudo p,
.imagem-right,
.servicos-conteudo h2,
.servicos-conteudo p,
.servicos-conteudo ul li {
    opacity: 0; /* Começam invisíveis */
    animation: fadeInUp 0.8s ease-out forwards; /* 'forwards' mantém o item visível no final */
}






































/* Tablet */
@media (max-width: 1025px) {
    .navegacao{
        display: none;
    }

    .quem-somos-arquivo-publico {
        flex-direction: column-reverse;
        align-items: center;
    }

    .uma-homenagem-conteudo{
        max-width: 100%;
    }

    .uma-homenagem-container{
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }

    .uma-homenagem_container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .uma-homenagem_img {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .uma-homenagem_conteudo {
        max-width: 646px;
    }

    .uma-homenagem h2 {
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }

    .uma-homenagem img {
        max-width: 345px;
    }

    .dever-responsabilidade {
        display: flex;
        flex-direction: column;
    }

}

/* Celular */
@media (max-width: 768px) {

    main{
        margin: 0;
    }

    img{
        max-width: 100%;
    }

    .quem-somos-inicio {
        padding: 0;
    }

    .quem-somos-subtitulo h2 {
        text-align: left;
    }

    .servicos ul {
        margin: 25px;
    }

    .dever-responsabilidade-conteudo h2{
        text-align: left;
    }

    .imagem-right{
        display: none;
    }

}   
