@media (max-width: 540px) {
     nav{
        display: none;
    }

    .img-esquerda{
        display: none;
    }

    .img-direita{
        display: none;
    }
   
    .banner-estrutura{
        visibility: hidden;
    }

    .texto-banner{
        & h1{
            margin-bottom: 1%;
        }

        & p{
            margin-bottom: -28%;
        }
    }

    .card-secao{
        margin-top: 15%;
    }
}

@media (max-width: 1250px) {
     nav{
        display: none;
    }

    .img-esquerda{
        display: none;
    }

    .img-direita{
        display: none;
    }
   
    .banner-estrutura{
        visibility: hidden;
    }

    .texto-banner{
        visibility: visible;
        
        & h1{
            color: black;
            margin-left: 10%;
            margin-right: 10%;
        }

        & p{
            color: black;
            margin-left: 10%;
            margin-right: 10%;
        }
    }

}


.banner-estrutura {
    justify-content: space-between;
    align-items: flex-end;

    & h1 {
        padding-top: 100px;
    }

    & p {
        font-size: 21px;
    }

}


.img-esquerda {
    width: 476px;
    height: 326px;
    margin-bottom: -4px;
}


.img-direita {
    width: 373px;
    height: 295px;
    margin-bottom: -4px;
}

.texto-banner {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    text-align: center;
}
