nav{
    display: none;
}

.img-esquerda{
    display: none;
}

.img-direita{
    display: none;
}
   
.banner-estrutura{
    visibility: hidden;
}

.texto-banner{
    visibility: visible;
    position: relative;
    text-align: center;
    & h1{
        color: black;
        position: relative;

    }

    & p{
        color: black;
        margin-left: 10%;
        margin-right: 10%;
        position: relative;

    }
}

.card-secao{
    position: relative;
}

body{
    display: grid;
}

/*Desktop*/
@media (min-width: 1127px) {
    nav{
        display: flex;
    }

    .img-esquerda{
        display: block;
    }

    .img-direita{
        display: block;
    }
   
    .banner-estrutura{
        visibility: visible;
    }

    .img-esquerda{
        display: block;
        width: auto;
        height: auto;
    }

    .img-direita{
        display: block;
        height: auto;
        width: auto;
    }

    .texto-banner{
        h1{
            color: #fff;
            min-width: 0;
            font-size: clamp(16px, 4vw, 32px);

        }

        p {
            color: #fff;
            min-width: 0;
            font-size: clamp(12px, 2vw, 16px);
        }

        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .banner-estrutura{
        justify-content: space-between;
        align-items: flex-end;
    }
}
