.banner-estrutura {
    justify-content: space-between;
    align-items: flex-end;
}


.img-esquerda {
    width: 476px;
    height: 326px;
    margin-bottom: -4px;
}

.centralizar {
    width: 373px;
}


.img-direita {
    width: 373px;
    height: 295px;
    float: right;
    margin-bottom: 0px;
}



.texto-banner {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    text-align: center;
}


