main {
    padding-top: 92px;
    margin-left: 12%;
    margin-right: 12%;
    margin-bottom: 9%;
    background-color: white;
    font-size: 20px;
}


/* ======  SISTEMAS-ARQUIVOS  ====== */


.sistema-arquivo_conteudo {
    margin-bottom: 65px;
}

.sistema-arquivo_titulo{
    margin-bottom: 1%;
}

.sistema-arquivo_texto{
    margin-bottom: 1%;
}

/* ======  DEFINIÇÃO DOCUMENTAL  ======*/

.definicao-documental_subtitulo{
    margin-bottom: 1%;
}

.definicao-documental-texto{
    margin-bottom: 1%;
}

.definicao-documental_lista li {
    padding: 5px;
}


.banner-estrutura {
    justify-content: space-between;
    align-items: flex-end;
}

.centralizar {
    width: 372px;
}

.img-esquerda {
    display: block;
}

.img-direita {
    display: block;
    height: auto;
    width: auto;
}

.texto-banner {
    h1 {
        color: #fff;
        margin-top: 75px;
        font-size: clamp(16px, 4vw, 47px);

    }

    p {
        color: #fff;
        font-size: clamp(12px, 2vw, 28px);
    }

    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

